{% layout 'theme' %}

{% block content %}

{% render 'sidebar-account' %}

<div class="t-account">
	<div class="container">
	<div class="t-account__header">
		<h1 class="t-account__header-title">{{ 'customer.orders.title' | t }}</h1>
	</div>

	<div class="t-orders">
		{% paginate customer.orders by 20 %}
			{% if customer.orders.size != 0 %}
				{% for order in customer.orders %}
					<div class="t-orders__item">
						<div class="t-orders__item-summary not-active">
							{% assign count = 0 %}

							{% for item in order.line_items %}
									{% assign count = count | plus: item.quantity %}
							{% endfor %}

							<p>
								<strong>{{ 'customer.orders.order_number' | t }} {{ order.name | link_to: order.customer_url }} {{ order.created_at | date: format: '%d/%m/%Y' }}</strong><br/>
								{{ 'customer.orders.total' | t }} {{ order.total_price | money }} - <span>{{ count }} {% if count > 1 %}{{ 'layout.cart.items_count.other' |  t }}{% else %}{{ 'layout.cart.items_count.one' |  t }}{% endif %}</span><br/>
								<a href="#">{{ 'customer.orders.download_bill' |  t }}</a>
							</p>
							<p>{{ order.fulfillment_status_label }}</p>
							<button class="t-orders__item-action gradient-btn" v-toggle-active.parent>
								<span class="t-orders__item-action--show">{{ 'customer.orders.show_detail' | t }}</span>
								<span class="t-orders__item-action--hide">{{ 'customer.orders.hide_detail' | t }}</span>
							</button>
						</div>
						<div class="t-orders__item-details">
							{% for line_item in order.line_items %}
								<div>
									<div>
										<img src="{{ line_item.product.image.src }}" />
										{{ line_item.product.title }}
										{{ line_item.variant.title }}
										{{ 'customer.order.quantity' | t }} : {{ line_item.quantity }}
										{{ line_item.quantity | times: line_item.price | money }}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
			{% endfor %}

			{% else %}
				<p>{{ 'customer.orders.none' | t }}</p>
			{% endif %}

			{% if paginate.pages > 1 %}
				{% include 'pagination' %}
			{% endif %}

			{% endpaginate %}
		</div>
	</div>
	</div>

{% endblock %}