{% layout 'theme' %}

{% block content %}

{% render 'sidebar-account' %}

{% paginate customer.addresses by 5 %}
  <div class="t-account container">
    <div class="t-account__header">
      <h1 class="t-account__header-title">{{ 'customer.addresses.title' | t }}</h1>
    </div>

    <div class="t-account__addresses">
      <div class="type-title">{{ 'customer.addresses.favorite' | t }}</div>
      <div class="t-account__adresse--favorite">
        <div class="t-account__address">
          <div class="p address">
            <strong>{{ customer.default_address.first_name | capitalize }} {{ customer.default_address.last_name | capitalize }}</strong>
  
            {{ customer.default_address.address1 }}<br>
  
            {% if customer.default_address.address2 != "" %}
              {{ customer.default_address.address2 }}<br>
            {% endif %}
  
            {% if customer.default_address.city != "" %}
              {{ customer.default_address.city }}
            {% endif %}
  
            {% if customer.default_address.province_code != "" %}
              {{ customer.default_address.province_code | upcase }}
            {% endif %}
  
            {% if customer.default_address.zip != "" %}
              {{ address.zip | upcase }}<br>
            {% endif %}
  
            {% if customer.default_address.country != "" %}
              {{ customer.default_address.country }}<br>
            {% endif %}
  
            {% if customer.default_address.phone != "" %}
              {{ customer.default_address.phone }}<br>
            {% endif %}
  
          </div>
          <div class="t-account__form-action t-account__form-action--left">
            <button class="button button--main" @click="editFav({{ customer.default_address.id  }})">{{ 'customer.addresses.edit' |  t }}</button>
            <form
                class="address-delete-form"
                method="post"
                action="/account/addresses/{{ customer.default_address.id }}" @submit="deleteAddress('{{ 'customer.addresses.delete_confirm' |  t }}')">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" class="button button--white" value="{{ 'customer.addresses.delete' |  t }}" >
            </form>
          </div>
        </div>
      </div>

      <div id="EditAddress_{{ customer.default_address.id }}" class="t-account__form t-account__form--hidden">
        {% form 'customer_address', address %}

          <h4 class="h2"><strong>{{ 'customer.addresses.edit_address' | t }}</strong></h4>

          <div class="row inline">
            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressFirstName_{{ form.id }}" class="h4" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words" aria-label="{{ 'customer.addresses.first_name' | t }}" required="required">
              <label for="">{{ 'customer.addresses.first_name' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressLastName_{{ form.id }}" class="h4" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words" aria-label="{{ 'customer.addresses.last_name' | t }}" required="required">
              <label for="">{{ 'customer.addresses.last_name' | t }}</label>
            </div>

            <div class="inputGroup block s1 med_s12 lg_s13 form-input">
              <input type="text" id="AddressCompany_{{ form.id }}" class="h4 optional" name="address[company]" value="{{ form.company }}" autocapitalize="words" aria-label="{{ 'customer.addresses.company' | t }}">
              <label for="">{{ 'customer.addresses.company' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressAddress1_{{ form.id }}" class="h4" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words" aria-label="{{ 'customer.addresses.address1' | t }}" required="required">
              <label for="">{{ 'customer.addresses.address1' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressAddress2_{{ form.id }}" aria-label="{{ 'customer.addresses.address2' | t }}" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words" >
              <label for="">{{ 'customer.addresses.address2' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressCity_{{ form.id }}" class="h4" name="address[city]" value="{{ form.city }}" autocapitalize="words" aria-label="{{ 'customer.addresses.city' | t }}" required="required">
              <label for="">{{ 'customer.addresses.city' | t }}</label>
            </div>

            <div class="inputGroup block s1 med_s12 lg_s13">
              <span class="icon-cheveron"></span>
              <label class="h4 c-gray" for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountry_{{ form.id }}" class="h4" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
            </div>

            <div id="AddressProvinceContainer_{{ form.id }}" class="selector-wrapper inputGroup block s1 med_s12 lg_s13" style="display:none">
              <span class="icon-cheveron"></span>
              <label class="h4 c-gray" for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvince_{{ form.id }}" class="h4" name="address[province]" data-default="{{ form.province }}"></select>
            </div>

            <div class="inputGroup form-input">
              <input type="text" id="AddressZip_{{ form.id }}" class="h4" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" required="required" aria-label="{{ 'customer.addresses.zip' | t }}">
              <label for="">{{ 'customer.addresses.zip' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="tel" id="AddressPhone_{{ form.id }}" class="h4 optional" name="address[phone]" value="{{ form.phone }}"  aria-label="{{ 'customer.addresses.phone' | t }}">
              <label for="">{{ 'customer.addresses.phone' | t }}</label>
            </div>

          </div> <!-- END .row.inline -->
          <div class="row inline u-left">
            <div class="inputGroup checkbox-group">
              {{ form.set_as_default_checkbox }}
              <label class="h4 c-gray" for="address_default_address_{{ form.id }}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
          </div>
          <div class="t-account__form-action">
            <input type="submit" class="button button--yellow nv gradient-btn" value="{{ 'customer.addresses.update' | t }}">
            <div class="account-form-links block s1">
              <button class="button button--white nv" @click.prevent="editFav({{ customer.default_address.id  }})"><i class="icon-close"></i></button>
            </div>
          </div> <!-- END .row.inline -->
        {% endform %}
      </div>

    </div>


      <div class="t-account__addresses-saved">
        <div class="type-title">{{ 'customer.addresses.others' | t }}</div>
        {% comment %}
					List all customer addresses with a unique edit form.
					Also add pagination in case they have a large number of addresses
				{% endcomment %}
        <div class="t-account__adresse--saved">
          {% for address in customer.addresses %}
            <div class="t-account__address">
              <div class="p address">
                <strong>{{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                  {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}</strong><br>
                {{ address.address1 }}<br>
  
                {% if address.address2 != "" %}
                  {{ address.address2 }}<br>
                {% endif %}
  
                {% if address.city != "" %}
                  {{ address.city }}
                {% endif %}
  
                {% if address.province_code != "" %}
                  {{ address.province_code | upcase }}
                {% endif %}
  
                {% if address.zip != "" %}
                  {{ address.zip | upcase }}<br>
                {% endif %}
  
                {% if address.country != "" %}
                  {{ address.country }}<br>
                {% endif %}
  
                {% if address.phone != "" %}
                  {{ address.phone }}<br>
                {% endif %}
              </div>
              <div class="t-account__form-action t-account__form-action--left">
                <button class="button button--main" @click="editAddress({{ address.id  }})">{{ 'customer.addresses.edit' |  t }}</button>
                <form
                    class="address-delete-form"
                    method="post"
                    action="/account/addresses/{{ address.id }}" @submit="deleteAddress('{{ 'customer.addresses.delete_confirm' |  t }}')">
                  <input type="hidden" name="_method" value="delete" />
                  <input type="submit" class="button button--white" value="{{ 'customer.addresses.delete' |  t }}" >
                </form>

              </div>
            </div>
          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          <hr>
          <div class="pagination h2">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {% endif %}
        <div class="t-account__forms">
        <div id="EditAddress_{{ address.id }}" class="t-account__form t-account__form--hidden">
          {% form 'customer_address', address %}

            <h4 class="h2"><strong>{{ 'customer.addresses.edit_address' | t }}</strong></h4>

            <div class="row inline">
              <div class="inputGroup input-full form-input">
                <input type="text" id="AddressFirstName_{{ form.id }}" class="h4" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words" aria-label="{{ 'customer.addresses.first_name' | t }}" required="required">
                <label for="">{{ 'customer.addresses.first_name' | t }}</label>
              </div>

              <div class="inputGroup input-full form-input">
                <input type="text" id="AddressLastName_{{ form.id }}" class="h4" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words" aria-label="{{ 'customer.addresses.last_name' | t }}" required="required">
                <label for="">{{ 'customer.addresses.last_name' | t }}</label>
              </div>

              <div class="inputGroup block s1 med_s12 lg_s13 form-input">
                <input type="text" id="AddressCompany_{{ form.id }}" class="h4 optional" name="address[company]" value="{{ form.company }}" autocapitalize="words" aria-label="{{ 'customer.addresses.company' | t }}">
                <label for="">{{ 'customer.addresses.company' | t }}</label>
              </div>

              <div class="inputGroup input-full form-input">
                <input type="text" id="AddressAddress1_{{ form.id }}" class="h4" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words" aria-label="{{ 'customer.addresses.address1' | t }}" required="required">
                <label for="">{{ 'customer.addresses.address1' | t }}</label>
              </div>

              <div class="inputGroup input-full form-input">
                <input type="text" id="AddressAddress2_{{ form.id }}" aria-label="{{ 'customer.addresses.address2' | t }}" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words" >
                <label for="">{{ 'customer.addresses.address2' | t }}</label>
              </div>

              <div class="inputGroup input-full form-input">
                <input type="text" id="AddressCity_{{ form.id }}" class="h4" name="address[city]" value="{{ form.city }}" autocapitalize="words" aria-label="{{ 'customer.addresses.city' | t }}" required="required">
                <label for="">{{ 'customer.addresses.city' | t }}</label>
              </div>

              <div class="inputGroup block s1 med_s12 lg_s13">
                <span class="icon-cheveron"></span>
                <label class="h4 c-gray" for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                <select id="AddressCountry_{{ form.id }}" class="h4" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
              </div>

              <div id="AddressProvinceContainer_{{ form.id }}" class="selector-wrapper inputGroup block s1 med_s12 lg_s13" style="display:none">
                <span class="icon-cheveron"></span>
                <label class="h4 c-gray" for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                <select id="AddressProvince_{{ form.id }}" class="h4" name="address[province]" data-default="{{ form.province }}"></select>
              </div>

              <div class="inputGroup form-input">
                <input type="text" id="AddressZip_{{ form.id }}" class="h4" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" required="required" aria-label="{{ 'customer.addresses.zip' | t }}">
                <label for="">{{ 'customer.addresses.zip' | t }}</label>
              </div>

              <div class="inputGroup input-full form-input">
                <input type="tel" id="AddressPhone_{{ form.id }}" class="h4 optional" name="address[phone]" value="{{ form.phone }}"  aria-label="{{ 'customer.addresses.phone' | t }}">
                <label for="">{{ 'customer.addresses.phone' | t }}</label>
              </div>

            </div> <!-- END .row.inline -->
            <div class="row inline u-left">
              <div class="inputGroup checkbox-group">
                {{ form.set_as_default_checkbox }}
                <label class="h4 c-gray" for="address_default_address_{{ form.id }}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
              </div>
            </div>
            <div class="t-account__form-action">
              <input type="submit" class="button button--yellow nv gradient-btn" value="{{ 'customer.addresses.update' | t }}">
              <div class="account-form-links block s1">
                <button class="button button--white nv" @click.prevent="editAddress({{ address.id  }})"><i class="icon-close"></i></button>
              </div>
            </div> <!-- END .row.inline -->

          {% endform %}
        </div>
      </div>
      </div>

      <div class="t-account__form-action">
        <button class="button button--main nv gradient-btn" @click="accountAddress = true" >{{ 'customer.addresses.add_new' | t }}</button>
      </div>
      <div id="AddAddress" class="t-account__form" v-if="accountAddress">
        {% form 'customer_address', customer.new_address %}

          <h2><strong>{{ 'customer.addresses.add_new' | t }}</strong></h2>

          <div class="row inline">

            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words" aria-label="{{ 'customer.addresses.first_name' | t }}" required="required">
              <label for="">{{ 'customer.addresses.first_name' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="text" aria-label="{{ 'customer.addresses.last_name' | t }}" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words" required="required">
              <label for="">{{ 'customer.addresses.last_name' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressCompanyNew" aria-label="{{ 'customer.addresses.company' | t }}"  name="address[company]" value="{{ form.company }}" autocapitalize="words">
              <label for="">{{ 'customer.addresses.company' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressAddress1New" aria-label="{{ 'customer.addresses.address1' | t }}" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words" required="required">
              <label for="">{{ 'customer.addresses.address1' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressAddress2New" aria-label="{{ 'customer.addresses.address2' | t }}" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">
              <label for="">{{ 'customer.addresses.address2' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="text" id="AddressCityNew"  name="address[city]" value="{{ form.city }}" autocapitalize="words" aria-label="{{ 'customer.addresses.city' | t }}" required="required">
              <label for="">{{ 'customer.addresses.city' | t }}</label>
            </div>

            <div class="selector-wrapper inputGroup block s1 med_s12 lg_s13">
              <span class="icon-cheveron"></span>
              <label class="h4 c-gray" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
            </div>

            <div class="selector-wrapper inputGroup block s1 med_s12 lg_s13" id="AddressProvinceContainerNew" style="display:none">
              <span class="icon-cheveron"></span>
              <label class="h4 c-gray" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvinceNew" class="h4" name="address[province]" data-default="{{ form.province }}"></select>
            </div>

            <div class="inputGroup form-input">
              <input type="text" id="AddressZipNew" class="h4" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" required="required" aria-label="{{ 'customer.addresses.zip' | t }}">
              <label for="">{{ 'customer.addresses.zip' | t }}</label>
            </div>

            <div class="inputGroup input-full form-input">
              <input type="tel" id="AddressPhoneNew" class="h4 optional" name="address[phone]" value="{{ form.phone }}" aria-label="{{ 'customer.addresses.phone' | t }}">
              <label for="">{{ 'customer.addresses.phone' | t }}</label>
            </div>

            <div class="inputGroup checkbox-group">
              {{ form.set_as_default_checkbox }}
              <label class="h4 c-gray" for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
            </div>

            <div class="t-account__form-action">
              <input type="submit" class="button button--yellow nv gradient-btn" value="{{ 'customer.addresses.add' | t }}">

              <button class="button button--white nv" @click.prevent="accountAddress = false"><i class="icon-close"></i></button>
            </div>
          </div>
        {% endform %}
      </div>

    </div>

  </div>
{% endpaginate %}

{% endblock %}
