{% layout 'theme' %}

{% block content %}

{% render 'sidebar-account' %}

<div class="form-success hide" data-reset-success>
  {{ 'customer.recover_password.success' | t }}
</div>

<div data-login-form class="t-login">
  <div class="container">
  {% form 'customer_login' %}
  <input type="hidden" autofocus="true" />
    <h1>{{ 'customer.login.title' | t }}</h1>

    <h2>{{ 'customer.login.already_customer' | t }}</h2>

    <div class="t-login__forminputs">
    {{ form.errors | default_errors }}

    <div class="form-input">
      <input type="email"
             name="customer[email]"
             id="CustomerEmail"
             class="{% if form.errors contains 'email' %}input-error{% endif %}"
             spellcheck="false"
             autocomplete="off"
             autocapitalize="off">
             <label for="CustomerEmail">
               {{ 'customer.login.email' | t }}
             </label>
    </div>

    {% if form.password_needed %}
    <div class="form-input">
      <input type="password"
             name="customer[password]"
             id="CustomerPassword"
             class="{% if form.errors contains 'password' %}input-error{% endif %}">
             <label for="CustomerPassword">
               {{ 'customer.login.password' | t }}
             </label>
    </div>
    {% endif %}
    {% if form.password_needed %}
      <a href="#recover" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
    {% endif %}

    <input type="submit" class="button gradient-btn" value="{{ 'customer.login.sign_in' | t }}">

  {% endform %}
</div>
</div>
</div>

<div>
<div class="container">
  <div class="not-customer">
  <h2>{{ 'customer.login.not_customer' | t }}</h2>
  <a class="gradient-btn" href="/account/register">
    {{ 'layout.customer.create_account' | t }}
  </a>
</div>
</div>
</div>

<div class="hide" data-recover-form>
  <h2>{{ 'customer.recover_password.title' | t }}</h2>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>

  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span class="hide" data-form-state></span>
    {% endif %}

    <label for="RecoverEmail" class="label-hidden">
      {{ 'customer.recover_password.email' | t }}
    </label>
    <input type="email"
           name="email"
           id="RecoverEmail"
           placeholder="{{ 'customer.recover_password.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off">

    <input type="submit" class="button" value="{{ 'customer.recover_password.submit' | t }}">

    <button type="button" data-recover-toggle>
      {{ 'customer.recover_password.cancel' | t }}
    </button>
  {% endform %}

</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}

{% endblock %}
