{% layout 'theme' %}

{% block content %}

{% render 'sidebar-account' %}

<div class="t-login">
  <div class="container">

{% form 'create_customer' %}
  {{ form.errors | default_errors }}

  <h1>{{ 'customer.register.title' | t }}</h1>
  <div class="t-login__forminputs">
  <div class="form-input">
    <input type="text"
          name="customer[first_name]"
          id="FirstName"
          autofocus
          {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
          <label for="FirstName">
            {{ 'customer.register.first_name' | t }}
          </label>
  </div>

  <div class="form-input">
  <input type="text"
         name="customer[last_name]"
         id="LastName"
         {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
         <label for="LastName">
           {{ 'customer.register.last_name' | t }}
         </label>
         </div>

         <div class="form-input">
  <input type="email"
         name="customer[email]"
         id="Email"
         class="{% if form.errors contains 'email' %}input-error{% endif %}"
         value="{% if form.email %}{{ form.email }}{% endif %}"
         spellcheck="false"
         autocomplete="off"
         autocapitalize="off">
         <label for="Email">
           {{ 'customer.register.email' | t }}
         </label>
         </div>

         <div class="form-input">
  <input type="password"
         name="customer[password]"
         id="CreatePassword"
         class="{% if form.errors contains 'password' %}input-error{% endif %}">
         <label for="CreatePassword">
           {{ 'customer.register.password' | t }}
         </label>
         </div>

  <p>
    <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button gradient-btn">
  </p>
  <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
</div>
{% endform %}
</div>
</div>
{% endblock %}