.sn-breadcrumb{
    ul{
        padding: 0;
        list-style: none;
        display: inline-flex;
        li{
            font-family: $montserrat;
            a{
                font-size: 1.1rem;
                text-decoration: none;
                color: $black;
                position: relative;
                padding-right: 2rem;
                &::after{
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 10px;
                    right: .9rem;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url('../assets/images/cheveron_black.svg') no-repeat;
                    background-size: contain;
                }
                &[aria-current="page"]{
                    font-weight: 700;
                    &::after{
                        content: none;
                    }
                }
            }
        }
    }
}