.c-drawer{
	$c: &;
	position: fixed; top: 0; left: 0; right: 0; bottom: 0; transition: allow(opacity); opacity: 0; pointer-events: none; z-index: 99;

	&:before{ content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: rgba(46,56,70,0.5) }

	&__content{
		position: absolute; right: 0; top: 0; bottom: 0; width: 46rem; transform: translateX(100%);
		transition: allow(transform); background: white; display: flex; flex-direction: column;
	}

	&--open{
		opacity: 1;  pointer-events: all; transition-delay: 0.2s;
		#{$c}__content{ transform: none; transition-delay: 0.2s }
	}

	&__title{ font-style: italic; font-weight: 300; text-align: center; font-size: 1.8rem;
		margin: 2rem 0 }

	&__element{
		flex: 1; overflow: hidden; overflow-y: auto;
	}

	&__close{
		position: absolute;
		top: 3rem;
		right: 3rem;
		cursor: pointer;
		font-size: 1.8rem;
		color: $brown-dark;
		&:hover{
			color: $black;
		}
	}
}