.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: currentColor;

  .no-svg & {
    display: none;
  }
}

.icon--wide {
  width: 40px;
}

svg,
symbol {
  &.icon:not(.icon--full-color) {
    circle,
    ellipse,
    g,
    line,
    path,
    polygon,
    polyline,
    img {
      max-width: 100%;
    }

    rect {
      fill: inherit;
      stroke: inherit;
    }
  }
}

// A generic way to visually hide content while
// remaining accessible to screen readers (h5bp.com)
.icon-fallback-text {
  @include visually-hidden;

  .no-svg & {
    @include visually-shown(static);
  }
}

// Payment icons
.payment-icons {
  user-select: none;
  cursor: default;
}

@font-face {
  font-family: 'fontello';
  src: url('../assets/fonts/fontello/fontello.eot?55241453');
  src: url('../assets/fonts/fontello/fontello.eot?55241453#iefix') format('embedded-opentype'),
       url('../assets/fonts/fontello/fontello.woff2?55241453') format('woff2'),
       url('../assets/fonts/fontello/fontello.woff?55241453') format('woff'),
       url('../assets/fonts/fontello/fontello.ttf?55241453') format('truetype'),
       url('../assets/fonts/fontello/fontello.svg?55241453#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?55241453#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-search:before { content: '\e800'; font-size: 20px; } /* '' */
.icon-phone:before { content: '\e801'; font-size: 21px; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-envelope:before { content: '\e803'; font-size: 21px; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-instagram:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-cheveron:before { content: '\e808'; } /* '' */
.icon-close:before { content: '\e80a'; } /* '' */
.icon-login:before { content: '\e80b'; font-size: 26px;} /* '' */
.icon-cart:before { content: '\e80c'; font-size: 26px;} /* '' */

.icon-whatsapp:before { 
  content: '';
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  background: url('../assets/images/whatsapp.svg') no-repeat;
  background-size: contain;

} /* '' */
.icon-close:before { content: '\e80a'; } /* '' */