{% layout 'theme' %}

{% block content %}

<div class="container">
<div class="t-404">
		<div class="t-404__text">
			<h1>{{ 'general.404.title' | t }}</h1>
			<a class="gradient-btn" href="{{ routes.root_url }}">{{ 'general.404.cta_label' | t }}</a>
		</div>

		<div class="t-404__search">
			<h2>{{ 'general.404.search_title' | t }}</h2>
			<form action="/search" method="get" role="search">
				<label for="Search-{{ section.id }}" class="label-hidden">
					{{ 'general.search.placeholder' | t }}
				</label>

				<button type="submit" class="button">
					<span class="icon-fallback-text icon-search">{{ 'general.search.submit' | t }}</span>
				</button>
				
				<input type="search"
					name="q"
					id="Search-{{ section.id }}"
					value="{{ search.terms | escape }}"
					placeholder="{{ 'general.search.placeholder' | t }}">

			</form>
		</div>
	</div>
</div>

{% endblock %}

