{% layout 'theme' %}

{% block content %}

    <div class="t-collection__hero">
      {% if collection.image != blank %}
        <img src="{{ collection.image }}" />
      {% endif %}
    </div>
    <div>
    <div class="container">
        {% render 'breadcrumb' %}
        <h1 class="t-collection__title">{{ collection.title }}</h1>
        {% if collection.description != blank %}
            <div class="t-collection__description">
                {{ collection.description }}
            </div>
        {% endif %}

            <ul class="t-collection__list">
              {% assign has_subcollection = false %}
                {% for subcollection in collections %}
                    {% if subcollection.handle contains collection.handle and subcollection.handle != collection.handle %}
                        <li>
                          {% assign title = subcollection.title | split: " | " %}
                          <a href="#{{ subcollection.handle }}">{{ title[1] }}</a>
                        </li>
                      {% assign has_subcollection = true %}
                    {% endif %}
                {% endfor %}
            </ul>
          </div>
        </div>

    <div class="t-collection__showItems">
      <div class="container">
      {% if has_subcollection %}
        {% for subcollection in collections %}
        {% assign title = subcollection.title | split: " | " %}
        <div class="t-collection__subcollection" id="{{ subcollection.handle }}">
          <div class="t-collection__subcollection-title">{{ title[1] }}</div>

          <div class="t-collection__products">
          {% for product in subcollection.products %}

            <!-- TODO : create snippet push product global to all snippets -->
            <div class="sn-push-products__push-product">

              <div class="sn-push-products__image">
                <img src="http://via.placeholder.com/250x428" />
                <button class="sn-push-products__cta">
                  <i class="cartAdd icon-cart"></i>
                  <p>ajouter</p>
                </button>
              </div>
              <div class="sn-push-products__category">{{ product.category }}</div>
              <h2 class="sn-push-products__title">{{ product.title }}</h2>
              <div class="sn-push-products__type">{{ product.type }}</div>
              <div class="sn-push-products__price">{{ product.price }}</div>
            </div>
          {% endfor %}
          </div>
        </div>

        {% endfor %}
      {% else %}
        <div class="t-collection__filters">
          <div class="toggle-radio">
            <input type="radio" id="flacons-o" name="flacons" value="flacons-o" checked/>
            <label for="flacons-o">Flacons O</label>
            <div class="switch flacons-o"></div>
            <input type="radio" id="flacons-picots" name="flacons" value="flacons-picots" />
            <label for="flacons-picots">Flacons Picots</label>
          </div>
        </div>
       <div class="t-collection__products">
        {% for product in collection.products %}

          <!-- TODO : create snippet push product global to all snippets -->
          <div class="sn-push-products__push-product">

            <div class="sn-push-products__image">
              <img src="http://via.placeholder.com/250x428" />
              <button class="sn-push-products__cta">
                <i class="cartAdd icon-cart"></i>
                <p>ajouter</p>
              </button>
            </div>
            <div class="sn-push-products__category">{{ product.category }}</div>
            <h2 class="sn-push-products__title">{{ product.title }}</h2>
            <div class="sn-push-products__type">{{ product.type }}</div>
            <div class="sn-push-products__price">{{ product.price }}</div>
          </div>
        {% endfor %}
       </div>
      {% endif %}
    </div>
    </div>

<div class="t-collection__layout">
  {% for section in collection.layout %}
    {% capture snippet_content %}{% include section.type %}{% endcapture %}
    {% unless snippet_content contains "Liquid error" %}
      {{ snippet_content }}
    {% endunless %}
  {% endfor %}
</div>

{% endblock %}