{% comment %}
{{ content_for_index }}
{% endcomment %}

{% layout 'theme' %}

{% block content %}

{% for section in layout %}
	{% capture snippet_content %}{% include section.type %}{% endcapture %}
	{% unless snippet_content contains "Liquid error" %}
		{{ snippet_content }}
	{% endunless %}
{% endfor %}

{% endblock %}