{% layout 'theme' %}

{% block content %}
<div class="container-medium">
<div class="t-faq">
		{% render 'faq-sidebar', page: page, page_title: page_title %}
	{% render 'faq-content', page: page %}
</div>
</div>

{% render 'contact-pushes', page: page %}


{% endblock %}
