{% layout 'theme' %}

{% block content %}
{% render 'hero', page: page %}

{% render 'faq-pushes', page: page %}
{% render 'contact-pushes', page: page %}

{% for section in page.layout %}
  <div class="shopify-section">
    {% capture snippet_content %}{% include section.type %}{% endcapture %}
    {% unless snippet_content contains "Liquid error" %}
      {{ snippet_content }}
    {% endunless %}
  </div>
{% endfor %}

{% endblock %}