#Account,
#Addresses{
    main{
        position: relative;
        @include respond-to(#{md}){
            display: flex;
            flex-direction: column;
        }
        .sn-sidebar-account{
            position: absolute;
            width: 22%;
            top: 1rem;
            left: 1rem;
            h2{
                margin-top: 0;
            }
            @media (max-width: 1190px){
                width: 16%;
            }
            @include respond-to(#{md}){
                position: relative;
                width: 100%;
                order: 3;
                top: 0;
            }
        }
    }
    footer{
        margin-top: 10rem;
    }
}
#Account{
    .container{
        @include respond-to(#{md}){
            padding: 0 6rem;
        }
    }
}
#Addresses{
    form{
        border-bottom: 0;
    }
}
.t-login{
    form{
        padding: 0 0 4rem 0;
        margin: 0 10rem;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        @include respond-to(#{md}){
            margin: 0;
            padding-bottom: 6rem;
        }
        h1{
            font-size: 4rem;
            text-align: center;
            margin-top: 3rem;
            @include respond-to(#{sm}){
                font-size: 3rem;
            }
        }
        h2{
            font-size: 1.8rem;
            margin-bottom: 3rem;
        }
    }
    &__forminputs{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .form-input{
            position: relative;
            width: 100%;
            label{
                position: absolute;
                left: .3rem;
                color: $brown-darker;
                top: .5rem;
                pointer-events: none;
                transition: all .3s ease-in-out;
            }
            +p{
                width: 100%;
                text-align: right;
                input{
                    padding: 1rem 5rem;
                }
            }
        }
        input{
            font-weight: 600;
            outline: 0;
            font-family: $gillsans;
            margin-bottom: 4rem;
            border: 0;
            border-bottom: 1px solid $brown-dark;
            padding: .5rem .3rem;
            width: 100%;
            &:nth-child(4){
                margin-bottom: 3rem;
            }
            &[type="submit"]{
                margin-bottom: 0;
                border-bottom: 0;
                width: auto;
                padding: 1rem 3rem;
                align-self: flex-end;
                @include respond-to(#{md}){
                    width: 100%;
                }
            }
            &.focused{
                 ~ label{
                    font-size: 1.3rem;
                    top: -15px;
                 }
            }
        }
        a{
            font-size: 1.2rem;
            margin: 2rem 0 4rem;
            color: $red-dark;
            text-decoration: none;
            width: 100%;
            text-align: center;
        }
    }
}
.not-customer{
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    a{
        align-self: flex-end;
    }
    @include respond-to(#{md}){
        margin: 0 0 5rem;
        a{
            width: 100%;
            text-align: center;
        }
    }
}