.t-orders{
	$c: &;
	&__item{

		&-summary{
			&.active + #{$c}__item-details{
				display: flex;
				> div{
					flex: 0 0 50%;
					> div{
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin-top: 4rem;
						margin-right: 2rem;
						font-weight: 600;
						line-height: 1.2;
						@include respond-to(#{sm}){
							margin-right: 0;
							justify-content: flex-start;
						}
						img{
							margin-right: 2rem;
						}
					}
				}
				@include respond-to(#{sm}){
					display: inline-block;
					width: 100%;
				}
			}
		}
		&-action{}
		&-details{
			display: none;
		}
	}
}