.t-account{
    padding: 0 8.5rem 0;
    @include respond-to(#{sm}){
        padding: 5rem 1rem 0;
        width: 100%;
    }
    &__header{
        &-title{
            font-size: 4rem;
            text-align: center;
        }
    }
    &__forms{
        display: flex;
        @include respond-to(#{sm}){
            display: block;
        }
    }
    &__form{
        width: 100%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: auto;
        transition: all .3s ease-in-out;
        &:nth-child(2n){
            margin-left: 8.3rem;
            @include respond-to(#{sm}){
                margin: 0 0 2rem;
            }
        }
        form{
            position: relative;
            margin: 0 9rem;
            margin-bottom: 10rem;
            @include respond-to(#{sm}){
                margin: 0 3rem 10rem 3rem;
            }
        }
        &-action{
            text-align: center;
            button,
            input[type="submit"]{
                &:not(.nv){
                    position: relative;
                    padding: 0;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $brown-dark;
                    margin-bottom: 1rem;
                    background: transparent;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background: $brown-dark;
                        left: 0;
                        top: calc(100% + 0px);
                    }
                }
                font-size: 1.2rem;
            }
            form{
                position: relative;
                margin-bottom: 1rem;
                input[type="submit"]{
                    &:not(.nv){
                        margin-bottom: 0;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: $brown-dark;
                    left: 0;
                    top: calc(100% + 0px);
                }
            }
            .nv{
                &::after{
                    content: none;
                }
            }
            .button--white{
                position: absolute;
                top: 0;
                right: 0;
                margin: 1rem 0;
                background: transparent;
                font-size: 1.8rem;
                color: $brown-dark
            }
        }
        .inputGroup{
            position: relative;
            .icon-cheveron{
                position: absolute;
                top: 1rem;
                right: .5rem;
                transform: rotate(90deg);
            }
            label[for="AddressCountry_"],
            label[for="AddressCountryNew"]{
                position: absolute;
                top: 0.5rem;
                left: .5rem;
                color: $brown-dark
            }
            select{
                font-weight: 600;
                outline: 0;
                font-family: $gillsans;
                margin-bottom: 4rem;
                border: 0;
                border-bottom: 1px solid $brown-dark;
                padding: 0.5rem 0.3rem;
                width: 100%;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: "";
            }
            &.checkbox-group{
                margin: 2rem 1rem;
                color: $brown-dark;
                text-decoration: underline;
            }
        }
        h2,
        .h2{
            font-size: 2.2rem;
        }
        &--hidden{
            height: 0;
        }
        &#AddAddress{
            form{
                margin: 0 9rem;
                @include respond-to(#{sm}){
                    margin: 0 3rem;
                }
                #AddressPhoneNew{
                    margin-bottom: 0;
                }
            }
        }
    }
    &__adresse{
        &--favorite,
        &--saved{
            display: flex;
            margin-bottom: 3.5rem;
            @include respond-to(#{sm}){
                display: block;
            }
            .t-account{
                &__address{
                    flex: 0 0 50%;
                    padding: 5.5rem 3rem;
                    border: 1px solid $brown-dark;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include respond-to(#{sm}){
                        margin: 0 0 2rem;
                    }
                    &:nth-child(2n){
                        margin-left: 8.3rem;
                        @include respond-to(#{sm}){
                            margin: 0 0 2rem;
                        }
                    }
                    strong{
                        display: block;
                    }
                }
            }
        }
        &--favorite{
            .t-account{
                &__address{
                    border-bottom-width: 5px;
                }
            }
            +.t-account{
                &__form{
                    display: block;
                    margin: 0;
                    form{
                        margin: 0 10rem;
                        @include respond-to(#{sm}){
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .t-orders{
        padding: 0 10rem;
        @include respond-to(#{md}){
            padding: 0;
        }
        &__item{
            margin-bottom: 2rem;
            &-summary{
                display: flex;
                align-items: center;
                padding: 3rem 4rem;
                justify-content: space-between;
                border: 1px solid $brown-dark;
                @include respond-to(#{sm}){
                    display: block;
                    padding: 2rem;
                }
                p{
                    margin: 0;
                    font-size: 1.4rem;
                    strong{
                        a{
                            color: $black;
                            font-weight: 700;
                        }
                    }
                    span{
                        margin: 0.5rem 0;
                        display: inline-block;
                    }
                    a{
                        position: relative;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: $brown-dark;
                        text-decoration: none;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 1px;
                            left: 0;
                            top: calc(100% );
                            background: $brown-dark;
                            transition: all .3s ease-in-out;
                        }
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                    &:last-of-type{
                        font-size: 1.8rem;
                        font-weight: 600;
                        @include respond-to(#{sm}){
                            margin: 2rem 0;
                        }
                    }
                }
                &.not-active{
                    .t-orders{
                        &__item{
                            &-action{
                                &--hide{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                &.active{
                    border-bottom: none;
                    padding-bottom: 0;
                    .t-orders{
                        &__item{
                            &-action{
                                &--show{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            &-details{
                padding: 0 4rem 3rem;
                border: 1px solid $brown-dark;
                border-top: 0;
            }
        }
    }
}
.type-title{
    color: $brown-dark;
    margin-bottom: 1rem;
}