.footer{
    &__logo{
        text-align: center;
    }
    &__links{
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $brown-dark;
        @include respond-to(#{sm}){
            display: block;
            padding: 3rem 0;
            margin: 0 2rem;
        }
    }
    &__columns{
        display: inline-block;
        width: 28%;
        vertical-align: top;
        margin-right: 5rem;
        @include respond-to(#{sm}){
            margin-right: 3.4rem;
            width: 40%;
        }
        @media(max-width: 399px){
            width: 36%;
        }
        &:last-of-type{
            margin-right: 0;
            @include respond-to(#{sm}){
                width: 100%;
            }
        }
        ul{
            list-style: none;
            padding-left: 0;
        }
    }
    &__title{
        margin-top: 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid $brown-dark;
    }
    &__link{
        line-height: 2;
        a{
            color: inherit;
            text-decoration: none;
        }
    }
    &__socials{
        padding: 3rem 0;
        ul{
            margin: 0;
            list-style: none;
            padding-left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__social{
        display: flex;
        &-link{
            display: flex;
            position: relative;
            margin-right: 2.3rem;
        }
        i{
            color: $brown-dark;
        }
    }
}