#Homepage{
    section{
        &[data-section-type="header"]{
            border-bottom: 0;
            header{
                >div{
                    &.h1{
                        svg{
                            path{
                                fill: $white;
                            }
                        }
                        @include respond-to(#{md}){
                            position: absolute;
                            left: 50%;
                            transform: translateX(-60%);
                            bottom: -5rem;
                        }
                    }
                    .language-switcher{
                        position: relative;
                        .language-switcher__label{
                            color: $white;
                            i{
                                color: $white;
                            }
                        }
                    }
                    .contact{
                        color: $white;
                    }
                    form{
                        &[role="search"]{
                            input{
                                border-bottom: 1px solid rgba(225, 225, 225, .59);
                                color: $white;
                                &::placeholder{
                                    color: rgba(225, 225, 225, .59);
                                }
                            }
                            button{
                                .icon-fallback-text{
                                    color: $white;
                                }
                            }
                        }
                    }
                    .login{
                        color: $white;
                        +a{
                            color: $white;
                        }
                    }
                    div{
                        &[aria-controls="CartDrawer"]{
                            color: $white;
                        }
                    }
                }
            }
            nav{
                >ul{
                    >li{
                        >a{
                            color: $white;
                            &:hover{
                                color: $brown;
                            }
                        }
                    }
                }
            }
        }
    }
    .burger{
        span{
            background: $white;
        }
    }
    .sticky{
        section{
            &[data-section-type="header"] {
                header {
                    > div{
                        &.h1{
                            @include respond-to(#{md}){
                                position: relative;
                                bottom: auto;
                                left: auto;
                                transform: none;
                            }
                        }
                        .contact{
                            color: $black;
                            ul {
                                li{
                                }
                            }
                        }
                        .language-switcher {
                            .language-switcher__label{
                                color: $black;
                                i{
                                    color: $black;
                                }
                            }
                        }
                        form{
                            &[role=search] {
                                input{
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.59);
                                    color: black;
                                    &::placeholder{
                                        color: rgba(0, 0, 0, 0.59);
                                    }
                                }
                                button {
                                    .icon-fallback-text{
                                        color: $black;
                                    }
                                }
                            }
                        }
                        .login {
                            color: $black;
                            +a{
                                color: $black;
                            }
                        }
                    }
                }
                nav{
                    > ul {
                        > li {
                            > a {
                                color: $black;
                                &:hover{
                                    color: $brown;
                                }
                            }
                        }
                    }
                }
            }
        }
        .burger{
            span{
                background: $black
            }
        }
    }
}
section{
    &[data-section-type="header"]{
        padding: 0 5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        >.container-fluid{
            padding: 0;
            >div{
                &:first-of-type{
                    padding: 1rem 2rem;
                }
            }
        }
        @include respond-to(#{md}){
            margin: 0 1rem;
            padding: 0 1rem;
        }
        >div{
            text-align: center;
            padding: 2rem 0;
            p{
                margin: 0;
                font-size: 1.4rem;
            }
        }
        header{
            position: relative;
            z-index: 2;
            padding: 3rem 0;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            @include respond-to(#{md}){
                padding: 1rem 0;
            }
            >div{
                width: auto;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                @include respond-to(#{md}){
                    width: auto;
                    &:nth-child(2){
                        display: none;
                    }
                }
                &.h1{
                    justify-content: center;
                    svg{
                        path{
                            fill: $brown-dark;
                        }
                    }
                    @include respond-to(#{md}){
                        svg{
                            width: 16rem;
                        }
                    }
                }
                &:last-of-type{
                    @include respond-to(#{md}){
                        justify-content: flex-end;
                    }
                }
                ul{
                    margin: 0;
                }
                .language-switcher{
                    position: relative;
                    margin-right: 5rem;
                    .language-switcher__label{
                        cursor: pointer;
                        color: $black;
                        position: relative;
                        .icon-cheveron{
                            font-size: 12px;
                            position: absolute;
                            top: 50%;
                            left: calc(100% + 5px);
                            transform: translateY(-35%) rotate(90deg);
                        }
                    }
                    form{
                        z-index: 1;
                        position: absolute;
                        top: calc(100% + 5px);
                        font-size: 0;
                        width: 100%;
                        text-align: center;
                        padding: 1rem 0;
                        border: 1px solid darkgray;
                        background: $white;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        ul{
                            padding: 0;
                            list-style: none;
                            margin: 0;
                            font-size: 1.6rem;
                            li{
                                line-height: 2;
                                text-transform: uppercase;
                                transition: all .3s ease-in-out;
                                cursor: pointer;
                                &:hover{
                                    color: $white;
                                    background: $brown-light;
                                }
                            }
                        }
                    }
                    &:hover{
                        form{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                .contact{
                    display: flex;
                    align-items: center;
                    color: $black;
                    ul{
                        padding: 0;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        li{
                            position: relative;
                            margin: 0 .5rem;
                            &:first-of-type{
                                font-size: 0;
                                width: 21px;
                            }
                            &:last-of-type{
                                font-size: 0;
                                width: 21px;
                            }
                        }
                    }
                }
                form{
                    &[role="search"]{
                        display: inline-flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        input{
                            border: 0;
                            background: transparent;
                            border-bottom: 1px solid rgba(0, 0, 0, .59);
                            outline: 0;
                            color: $black;
                            font-family: $font-body;
                            margin-bottom: 1.5rem;
                            &::placeholder{
                                color: rgba(0, 0, 0, .59);
                            }
                            @include respond-to(#{md}){
                                display: none;
                            }
                        }
                        button{
                            position: relative;
                            padding: 0;
                            width: 20px;
                            height: 20px;
                            background: transparent;
                            margin-right: 1rem;
                            .icon-fallback-text{
                                position: relative;
                                left: 0;
                                top: 0;
                                width: 20px;
                                height: 20px;
                                clip: auto;
                                font-size: 0;
                                overflow: visible;
                            }
                        }
                    }
                }
                .login{
                    position: relative;
                    width: 26px;
                    height: 26px;
                    margin: 0 2rem;
                    @include respond-to(#{md}){
                        margin: 0 1rem;
                    }
                    ul{
                        list-style: none;
                        position: absolute;
                        top: calc(100% + .5rem);
                        left: 50%;
                        transform: translateX(-50%);
                        width: 130px;
                        padding: 1rem 0;
                        border: 1px solid darkgray;
                        background: $white;
                        text-align: center;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        li{
                            line-height: 2;
                            transition: all .3s ease-in-out;
                            a{
                                color: $black;
                                text-decoration: none;
                                transition: all .3s ease-in-out;
                            }
                            &:hover{
                                background: $brown-light;
                                a{
                                    color: $white;
                                }
                            }
                        }
                    }
                    &:hover{
                        ul{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    +a{
                        font-size: 0;
                        position: relative;
                        width: 25px;
                        height: 29px;
                        color: $black;
                    }
                }
                div{
                    &[aria-controls="CartDrawer"]{
                        position: relative;
                        > span {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-71%, -30%)
                        }
                    }
                }
            }
        }
        nav{
            padding: 2rem 0;
            position: relative;
            z-index: 1;
            @include respond-to(#{md}){
                display: none;
            }
            >ul{
                width: 60%;
                list-style: none;
                padding: 0;
                display: inline-flex;
                justify-content: space-between;
                margin: 0;
                @include respond-to(#{lg}){
                    width: 80%;
                }
                >li{
                    text-transform: uppercase;
                    >a{
                        position: relative;
                        text-decoration: none;
                        color: $black;
                        font-weight: 300;
                        transition: all .3s ease-in-out;
                        &::after{
                            content: '';
                            width: 0;
                            height: 2px;
                            position: absolute;
                            left: 0;
                            top: calc(100% + 5px);
                            background: $brown-dark;
                            transition: all .3s ease-in-out;
                        }
                    }
                    &.active{
                        a{
                            color: $brown;
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                    .submenu{
                        position: absolute;
                        top: calc(100% + 1px);
                        display: block;
                        width: 80%;
                        height: 68vh;
                        left: -5rem;
                        background: $white;
                        color: $black;
                        transition: all .3s ease-in-out;
                        opacity: 0;
                        visibility: hidden;
                        >ul{
                            border-right: 1px solid #707070;
                        }
                        ul{
                            padding: 0;
                            list-style: none;
                            width: 50%;
                            height: 100%;
                            padding: 2rem 0;
                            position: relative;
                            text-align: left;
                            li{
                                line-height: 3;
                                padding: 0 4rem;
                                a{
                                    color: inherit;
                                    text-decoration: none;
                                    transition: all .3s ease-in-out;
                                    position: relative;
                                    &::before{
                                        content: '';
                                        width: 34px;
                                        height: 17px;
                                        position: absolute;
                                        top: 50%;
                                        left: calc(100% + 1rem);
                                        transform: translateY(-50%);
                                        background: url('../assets/images/arrowright.svg') no-repeat;
                                        display: none;
                                    }
                                    &::after{
                                        content: '';
                                        width: 0;
                                        height: 2px;
                                        position: absolute;
                                        left: 0;
                                        top: calc(100% + 5px);
                                        background: $brown-dark;
                                        transition: all .3s ease-in-out;
                                    }
                                }
                                .second-submenu{
                                    position: absolute;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    left: calc(100% + 1px);
                                    background: #FFFDF7;
                                    pointer-events: none;
                                    ul{
                                        position: relative;
                                        opacity: 0;
                                        visibility: hidden;
                                        width: 100%;
                                        li{
                                            line-height: 2.5;
                                            a{
                                                transition: all .3s ease-in-out;
                                                &::after{
                                                    content: '';
                                                    width: 0;
                                                    height: 2px;
                                                    position: absolute;
                                                    left: 0;
                                                    top: calc(100% + 5px);
                                                    background: $brown-dark;
                                                    transition: all .3s ease-in-out;
                                                }
                                                &:hover{
                                                    font-weight: 600;
                                                    &::after{
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.active{
                                    >a{
                                        font-weight: 500;
                                        &::before{
                                            display: block;
                                        }
                                        &::after{
                                            width: 100%;
                                        }
                                    }
                                    .second-submenu{
                                        pointer-events: all;
                                        ul{
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        .submenu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}
.burger {
	display: none !important;
	min-width: 26px;
	height: 17px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	@include respond-to(#{md}){
		display: block !important;
		&#burger2{
			z-index: 5;
		}
	}
	span {
		outline: 0;
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $black;
		border-radius: 0;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(3),
		&:nth-child(2) {
			top: 8px;
		}
		&:nth-child(4) {
			top: 15px;
		}
	}
	&.open{
		+.s-header__nav__mobile{
			width: 100%;
			opacity: 1;
			z-index: 2;
			pointer-events: all;
		}
		span{
			&:nth-child(1) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
			&:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			&:nth-child(4) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
		}
	}
}
.menu{
    &__mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        background: $white;
        width: 100%;
        height: 100vh;
        padding: 0 !important;
        left: -100%;
        z-index: 3;
        overflow-y: scroll;
        transition: all .3s ease-in-out;
        &.open{
            left: 0;
        }
        &__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem 1rem 1rem;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            .contact{
                display: flex;
                align-items: center;
                color: $black;
                ul{
                    padding: 0;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    li{
                        position: relative;
                        margin: 0 .5rem;
                        &:first-of-type{
                            font-size: 0;
                            width: 21px;
                            height: 21px;
                        }
                        &:last-of-type{
                            font-size: 0;
                            width: 21px;
                        }
                    }
                }
            }
            img{
                margin-right: 1rem;
            }
            .burger{
                margin: 0;
                span{
                    background: $black !important;
                }
            }
        }
        &__nav{
            position: relative;
            height: calc(100% - 10px);
            ul{
                height: 100%;
                margin: 0;
                list-style: none;
                text-align: left;
                padding: 3rem 0;
                li{
                    padding: 0 4rem;
                    line-height: 2.5;
                    font-weight: 400;
                    a{
                        position: relative;
                        color: inherit;
                        text-decoration: none;
                        &::after{
                            content: '';
                            width: 100%;
                            height: 2px;
                            position: absolute;
                            left: 0;
                            top: calc(100% + 5px);
                            background: $brown-dark;
                            display: none;
                        }
                    }
                    &.active{
                        font-weight: 500;
                        >a{
                            &::before{
                                content: '';
                                width: 34px;
                                height: 17px;
                                position: absolute;
                                top: 50%;
                                left: calc(100% + 1rem);
                                transform: translateY(-50%);
                                background: url('../assets/images/arrowright.svg') no-repeat;
                            }
                            &::after{
                                display: block;
                            }
                        }
                        .submenu{
                            left: 0;
                            z-index: 1;
                            li{
                                &.active{
                                    .second-submenu{
                                        left: 0;
                                        z-index: 2;
                                    }
                                }
                            }
                        }
                    }
                    .submenu,
                    .second-submenu{
                        position: absolute;
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        background: $white;
                        transition: all .3s ease-in-out;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        .returnTo{
                            position: relative;
                            padding: 1rem calc(4.5rem + 34px);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                            font-weight: 400;
                            &::before{
                                content: '';
                                width: 34px;
                                height: 17px;
                                position: absolute;
                                top: 50%;
                                left: 34px;
                                transform: translateY(-50%) rotate(180deg);
                                background: url('../assets/images/arrowright.svg') no-repeat;
                            }
                        }
                    }
                }
            }
        }
        &__info{
            text-align: left;
            .search{
                padding: 2rem 4rem;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                position: relative;
                form{position: relative;}
                input{
                    width: 100%;
                    line-height: 2;
                    border-radius: 50px;
                    padding: .5rem 2rem;
                    outline: 0;
                    border-color: $brown-dark;
                    font-size: 1.4rem;
                    font-family: $font-body;
                    &::placeholder{
                        color: #8C7C65;
                    }
                }
                button{
                    position: absolute;
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    background: transparent;
                    right: 0.5rem;
                    top: 50%;
                    transform: translateY(-50%);
                    span{
                        position: relative;
                        left: 0;
                        top: 0;
                        width: 20px;
                        height: 20px;
                        clip: auto;
                        font-size: 0;
                        overflow: visible;
                        &::before{
                            left: -1rem;
                            position: absolute;
                            color: $brown-dark;
                        }
                    }
                }
            }
            .language-switcher{
                position: relative;
                text-align: left;
                padding: 0rem 4rem 2rem;
                display: inline-block;
                .language-switcher__label{
                    color: $black;
                    position: relative;
                    i{
                        position: absolute;
                        top: 50%;
                        left: calc(100% + 5px);
                        transform: translateY(-45%) rotate(90deg);
                        font-size: 12px;
                    }
                }
                form{
                    z-index: 1;
                    position: relative;
                    font-size: 0;
                    width: 100%;
                    text-align: center;
                    background: $white;
                    transition: all .6s ease-in-out;
                    opacity: 0;
                    visibility: hidden;
                    ul{
                        padding: 0;
                        list-style: none;
                        margin: 0;
                        font-size: 1.6rem;
                        li{
                            height: 0;
                            line-height: 2;
                            text-transform: uppercase;
                            transition: all .3s ease-in-out;
                            cursor: pointer;
                            &:hover{
                                color: $white;
                                background: $brown-light;
                            }
                        }
                    }
                    &.open{
                        visibility: visible;
                        opacity: 1;
                        padding: 1rem 0;
                        margin: .5rem 0 0;
                        border: 1px solid darkgray;
                        li{
                            height: auto;
                        }
                    }
                }
            }
            .links{
                padding: 0 4rem 2rem;
                .lien{
                    position: relative;
                    display: block;
                    margin-bottom: 1rem;
                    text-decoration: none;
                    color: inherit;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.sticky{
    .sticky-header {
        font-size: 1.4rem;
        position: fixed;
        background: white;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 11;
        padding: 0 5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        @include animation('slide-down .7s 1');
        header{
            padding: 2rem 0 1rem;
        }
        nav{
            padding: 1rem 0 2rem;
        }
    }
    section{
        &[data-section-type="header"] {
            nav {
                > ul {
                    > li {
                        .submenu{
                            height: 71vh;
                            left: -2rem;
                        }
                    }
                }
            }
        }
    }
    .h1{
        svg{
            path{
                fill: $brown-dark !important;
            }
        }
    }
}