.s-hero-home{
	position: relative;
	z-index: 0;

	&__image{
		--video--width: 1190;
		--video--height: 670;

		position: relative;
		padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
		overflow: hidden;
        max-width: 100%;
		height: auto;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		@include respond-to(#{md}){
			min-height: 620px;
			img{
				position: absolute;
				width: auto;
				max-width: initial;
			}
		}
		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include respond-to(#{md}){
				width: 1440px;
				left: -17rem;
				.vp-center{
					display: block !important;
				}
			}
		}
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
			background: linear-gradient(180deg, rgba(0,0,0,0.5578606442577031) 0%, rgba(255,255,255,0) 100%);
		}
	}
	&__txt{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 28%;
		left: 60%;
		z-index: 1;
		margin-top: 6rem;
        @include respond-to(#{md}){
			width: 70%;
			transform: translate(-50%, 0);
			text-align: center;
			bottom: 0;
			left: 50%;
        }
	}
	&__title{
		font-size: 40px;
		color: white;
		margin: 1rem 0;
	}
	&__text{
        @include respond-to(#{md}){
			display: none;
        }
	}
	&__cta{
		font-size: 1.2rem;
		font-weight: 600;
		line-height: 1;
		padding: 1.2rem 3rem;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		background: linear-gradient( 180deg , rgba(145,132,112,1) 0%, rgba(220,197,158,1) 100%);
		-webkit-transition: background 1s ease-out;  
		-moz-transition: background 1s ease-out;  
		-o-transition: background 1s ease-out;  
		transition: background 1s ease-out;  
		border-radius: 50px;
		display: inline-block;
		margin-top: 2rem;
		&:hover{
			background: linear-gradient( 90deg , rgba(220,197,158,1) 0%, rgba(145,132,112,1) 100%);
		}
        @include respond-to(#{md}){
			margin-top: 0;
        }
	}
}
body{
	margin: 0;
	// font-family: 'gill sans', sans-serif;
}

