.image-with-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5rem 7rem;
  @include respond-to(#{sm}){
    flex-direction: column-reverse;
    padding: 0;
  }
}

.image-with-text__image {
  flex: 0 1 45%;
  min-width: 320px;
  @include respond-to(#{sm}){
    width: 100%;
  }
}

.image-with-text__text {
  flex: 1 1 50%;
  padding-right: 5rem;
  @include respond-to(#{sm}){
    padding: 0 4rem;
    text-align: center;
  }
  h2{
    font-weight: 500;
    font-size: 28px;
    @include respond-to(#{sm}){
      margin-bottom: 0;
    }
  }
  a{
    margin-top: 2rem;
  }
}
