.s-images-legend{
    padding: 7rem 0 0;
    color: $white;
    background: $black;
    text-align: center;
    &__column{
        position: relative;
        display: inline-block;
        width: 40%;
        vertical-align: bottom;
        @include respond-to(#{sm}){
            width: 100%;
        }
        &:first-of-type{
            .responsive-image{
                &__wrapper{
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    max-width: initial !important;
                    @include respond-to(#{sm}){
                        display: block;
                        &::before{
                            padding-top: 0 !important;
                        }
                    }
                }
                &__image{
                    position: relative;
                    max-width: initial !important;
                    max-height: initial !important;
                    width: auto !important;
                    padding-right: 5rem;
                    @include respond-to(#{sm}){
                        padding: 0;
                        width: 100% !important;
                    }
                }
            }
        }
        &:last-of-type{
            @include respond-to(#{sm}){
                .s-images-legend{
                    &__image{
                        display: none;
                    }
                }
            }
        }
    }
    &__suptitle{
        text-transform: uppercase;
    }
    &__title{
        font-size: 40px;
        margin: 0 0 1rem;
    }
    &__cta{
        margin-bottom: 4rem;
        p{
            padding-left: 1.2rem;
        }
        @include respond-to(#{sm}){
            margin: 0;
            position: absolute;
            left: 50%;
            bottom: .5rem;
            transform: translateX(-50%);
            z-index: 1;
        }
    }
    &__image{
        width: 60%;
        margin: 0 auto;
    }
}