.s-mosaic{
	padding: 5rem 0;
    text-align: center;

	&__items{
		display: flex;
		flex-wrap: wrap;
		@include respond-to(#{sm}){
			display: block;
		}
	}
	&__item{
		margin-bottom: 4rem;
		flex: 45%;
        @include respond-to(#{sm}){
			width: 100%;
			padding: 0;
        }
		&:nth-child(2n+2){
			margin: 4rem 0 0 7rem;
			@include respond-to(#{sm}){
				margin: 0 0 4rem 0;
			}
		}
		.s-mosaic{
			&__title{
				margin-bottom: 0;
				margin-top: 2rem;
				font-size: 2.4rem;
			}
			&__text{
				font-size: 1.4rem;
			}
		}
	}
	&__image{
		img{
			width: 100%;
		}
	}
	&__title{
		font-size: 40px;
		text-align: center;
		margin-top: 0;
	}
	&__text{  }
	&__cta{}
}
