.sn-newsletter{
    margin: 5rem 0;
    @include respond-to(#{sm}){
        margin: 0 0 5rem;
    }
    &__wrapper{
        display: flex;
        @include respond-to(#{sm}){
            display: block;
        }
    }
    &__image,
    &__content{
        position: relative;
        flex: 1;
        @include respond-to(#{sm}){
            width: 100%;
        }
        picture{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            @include respond-to(#{sm}){
                position: relative;
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        border: 1px solid $brown-dark;
        padding: 2rem;
        @include respond-to(#{sm}){
            padding: 4rem 2rem;
            margin-top: -5px;
        }
        form{
            >div{
                position: relative;
                margin-bottom: 2rem;
            }
        }
        label{
            &[for = "Email"]{
                font-size: 34px;
                font-weight: 500;
                text-align: center;
                display: block;
            }
            &[for="checkbox"]{
                margin-left: 2.7rem;
                display: inline-block;
                vertical-align: text-top;
            }
        }
        p{
            font-weight: 500;
            margin-bottom: 4rem;
            text-align: center;
        }
        input{
            &[type="email"]{
                border: 1px solid $brown-dark;
                padding: 1.5rem 3rem;
                border-radius: 50px;
                width: 100%;
                outline: 0;
                font-family: $gillsans;
                font-size: 1.6rem;
            }
            &[type="checkbox"]{
                position: relative;
                margin: 0;
                width: 0;
                &::before{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border: 1px solid $brown-dark;
                    border-radius: 50%;
                    background: transparent;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: $brown-dark;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    visibility: hidden;
                }
                &.checked{
                    &::after{
                        visibility: visible;
                    }
                }
            }
        }
        button{
            position: absolute;
            top: 0;
            right: 0.1rem;
            height: auto;
            padding: 1.8rem 2rem 1.8rem 2.5rem;
            border-radius: 50px;
            border: 0;
            background: transparent;
            font-family: $gillsans;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: $brown-dark;
            transition: all .3s ease-in-out;
            &:hover{
                background: $brown-dark;
                color: $white;
            }
        }
    }
}