#popin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    .overlay{
        height: 100%;
        background: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
        opacity: 0;
        .popin-content{
            cursor: auto;
            position: relative;
            width: 37%;
            background: $pink-light;
            padding: 3rem 4.5rem;
            text-align: center;
            @include respond-to(#{md}){
                width: 55%;
            }
            @include respond-to(#{sm}){
                width: 95%;
            }
            h2{
                text-transform: uppercase;
                font-size: 1.6rem;
            }
            .close{
                position: absolute;
                right: 1rem;
                top: 1rem;
                cursor: pointer;
                color: $brown-dark;
            }
            p{
                margin-bottom: 4rem;
            }
            .form-input{
                input{
                    margin-bottom: 3.5rem;
                    background: transparent;
                }
            }
            .checkbox{
                display: flex;
                margin-bottom: 3rem;
                input{
                    margin: 0;
                    width: 0;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 21px;
                        height: 21px;
                        top: 0;
                        left: 0;
                        background: url('../assets/images/popin-checkbox.svg') no-repeat;
                    }
                    &.checked{
                        &::after{
                            content: '';
                            position: absolute;
                            width: 21px;
                            height: 21px;
                            top: 0;
                            left: 0;
                            background: $brown-dark;
                            border-radius: 50%;
                        }
                    }
                }
                label{
                    padding-left: 3rem;
                }
            }
            button{
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
    }
    &.open{
        z-index: 999999;
        .overlay{
            opacity: 1;
        }
    }
}