.s-product{
    &__image-content{
        >.container-fluid{
            padding: 5rem 10rem;
            @include respond-to(#{lg}){
                padding: 5rem 0rem 5rem 5rem;
            }
            @include respond-to(#{sm}){
                padding: 0 2rem;
            }
            > div{
                position: relative;
                width: 49%;
                display: inline-block;
                vertical-align: middle;
                @include respond-to(#{sm}){
                    width: 100%;
                }
                .swiper-container-vertical{
                    position: absolute;
                    width: 20%;
                    height: 90%;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -10%;
                    @include respond-to(#{sm}){
                        display: none;
                    }
                    .swiper-wrapper{
                        justify-content: space-around;
                        .swiper-slide-active{
                            .product-single__thumbnail-image{
                                border-color: $brown-dark;
                            }
                        }
                    }
                }
            }
        }
    }
    &__suptitle{
        margin-bottom: 2rem;
        font-size: 1.4rem;
        @include respond-to(#{sm}){
            font-size: 1.6rem;
        }
        &:first-of-type{
            letter-spacing: 3px;
            font-style: italic;
            @include respond-to(#{sm}){
                font-size: 1.4rem;
            }
        }
        span{
            font-size: 1.2rem;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 600;
            color: $brown-dark;
            margin-right: 1rem;
        }
    }
    &__subtitle{
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    &__detail{
        padding: 0 5rem;
        @include respond-to(#{lg}){
            padding: 0 3rem;
        }
        @include respond-to(#{sm}){
            margin-top: 5rem;
        }
        >div{
            &:first-of-type{
                position: relative;
            }
        }
        @include respond-to(#{sm}){
            padding: 0 1rem;
        }
        h1{
            font-size: 40px;
            margin: 3rem 0 2rem;
            line-height: 0.8;
        }
        .rte{
            margin-bottom: 2rem;
            font-size: 1.4rem;
            @include respond-to(#{sm}){
                font-size: 1.6rem;
            }
        }
        .js{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            position: relative;
            &:last-of-type{
                margin-bottom: 3rem;
                @include respond-to(#{sm}){
                    margin-bottom: 4rem;
                }
            }
            select{
                width: 100%;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                padding: 1.5rem 1rem;
                font-family: var(--font-body);
                font-size: 1.4rem;
                outline: 0;
                background: transparent;
                border-color: $brown-dark;
            }
            div{
                &[data-price-wrapper]{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 5rem;
                    font-weight: 600;
                    line-height: 1;
                }
            }
        }
        form{
            button{
                font-family: $font-body;
                font-weight: 500;
                display: block;
                margin: 0 auto 2rem;
                padding: 1.5rem 5rem;
                width: 70%;
            }
        }
    }
    &__type{
        display: flex;
        align-items: center;
        img{
            margin-right: 1rem;
            cursor: pointer;
            border: 1px solid transparent;
        }
        input{
            &[type="radio"]{
                width: 0;
                margin: 0;
                &:checked{
                    +label{
                        img{
                            border-color: $brown-dark;
                        }
                    }
                }
            }
        }
        label{
            cursor: default;
        }
    }
    &__features{
        @include respond-to(#{sm}){
            width: 100%;
            margin: 2rem 0;
            ul{
                display: inline-block !important;
                li{
                    width: 38% !important;
                    margin: 0 2rem 2rem;
                }
            }
        }
        ul{
            margin: 0;
            width: 100%;
            justify-content: space-between;
            padding-bottom: 2rem;
            text-align: center;
            display: flex;
            padding: 0 0 2rem;
            li{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.2rem;
                @include respond-to(#{sm}){
                    display: inline-flex;
                    width: 49%;
                    margin-bottom: 2rem;
                }
            }
            span{
                &[element="icon"]{
                    position: relative;
                    display: inline-block;
                    transition: all .3s ease-in-out;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 400%;
                    }
                    &[data-icon="icon__coursier"]{
                        width: 45px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/coursier.svg') no-repeat;
                        }
                    }
                    &[data-icon="icon__echantillon"]{
                        width: 22px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/echantillon.svg') no-repeat;
                        }
                    }
                    &[data-icon="icon__livraison"]{
                        width: 37px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/livraison.svg') no-repeat;
                        }
                    }
                    &[data-icon="icon__remboursement"]{
                        width: 32px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/remboursement.svg') no-repeat;
                        }
                    }
                    &[data-icon="icon__service"]{
                        width: 34px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/service.svg') no-repeat;
                        }
                    }
                }
            }
        }
    }
    &__details{
        padding: 3rem 0;
        .tabs-wrapper{
            display: flex;
            @include respond-to(#{sm}){
                display: block;
            }
            > div{
                flex: 1;
                p{
                    font-size: 1.4rem;
                }
                a{
                    font-weight: 600;
                }
                @include respond-to(#{sm}){
                    width: 100%;
                    p{
                        font-size: 1.6rem;
                    }
                }
                &:first-of-type{
                    text-align: center;
                    margin-right: 7rem;
                    @include respond-to(#{sm}){
                        margin-bottom: 4rem;
                        margin-right: 0;
                    }
                    img{
                        border-radius: 200px;
                        width: 100%;
                    }
                }
                ul{
                    margin: 2rem 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    @include respond-to(#{sm}){
                        margin: 0;
                        padding: 3rem 0;
                        overflow-x: scroll;
                    }
                    li{
                        position: relative;
                        margin: 0 5rem 0 0;
                        padding-bottom: 8rem;
                        @include respond-to(#{sm}){
                            margin: 0 2rem 0 0;
                        }
                        &::before{
                            content: '';
                            width: 60px;
                            height: 0;
                            position: absolute;
                            top: -3rem;
                            left: 50%;
                            transform: translateX(-50%);
                            border: 1px solid $brown-dark;
                            border-radius: 200px;
                            visibility: hidden;
                            opacity: 0;
                            transition: all .3s ease-in-out;
                            z-index: -1;
                        }
                        &::after{
                            content: '';
                            width: 0;
                            height: 0;
                            position: absolute;
                            bottom: 2rem;
                            left: 50%;
                            transform: translateX(-50%) rotate(90deg);
                            background: url('../assets/images/arrowright.svg') no-repeat;
                            transition: all .6s ease-in-out;
                        }
                        &.is-active{
                            &::before{
                                height: 140px;
                                visibility: visible;
                                opacity: 1;
                            }
                            &::after{
                                width: 34px;    
                                height: 17px;
                            }
                        }
                        a{
                            font-size: 20px;
                            color: $black;
                            font-weight: 600;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}