.sn-push-products{
    padding: 5rem 3rem;
    @include respond-to(#{sm}){
        padding: 5rem 0;
        >.container{
            padding: 0;
        }
    }
    &__suptitle{
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        font-size: 1.2rem;
        @include respond-to(#{sm}){
            font-size: 1.4rem;
        }
    }
    &__title{
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 3rem;
        display: table;
        position: relative;
    }
    &__prev,
    &__next{
        width: 20px;
        height: 30px;
        background: url('../assets/images/cheveron_black.svg') no-repeat;
        background-size: contain;
    }
    &__prev{
        transform: rotateY(180deg) translateY(-50%);
        left: -2rem;
        @include respond-to(#{sm}){
            left: 0;
        }
    }
    &__next{
        right: -2rem;
        @include respond-to(#{sm}){
            right: 0;
        }
    }
    .swiper{
        &-slide{
            text-align: center;
        }
        &-container{
            padding: 7rem 0;
            @include respond-to(#{sm}){
                padding-left: 2rem;
            }
        }
        &-global{
            position: relative;
        }
        &-pagination{
            &-progressbar{
                $scal: scaleX(0.5);
                width: 29%;
                left: 50%;
                transform: translateX(-50%);
                top: 1.5rem;
                height: 2px;
                background: $gray-brown;
                @media(max-width: 992px){
                    width: 50%;
                }
                @include respond-to(#{sm}){
                    width: 90%;
                }
                &-fill{
                    background: transparent;
                }
            .selection{
                position: absolute;
                width: 30px;
                height: 30px;
                top: 50%;
                transform: translateY(-50%);
                background: url('../assets/images/selection.svg') no-repeat;
                background-color: $white;
                transition: all .3s ease-in-out;
            }
            }
        }
    }
    &__push-product{
        display: inline-block;
        width: 100%;
        @include respond-to(#{md}){
            width: 100%;
            margin-bottom: 4rem;
            padding: 0 1.75rem;
        }
        .responsive-image{
            &__wrapper {
                height: 428px;
            }
            &__image{
                max-height: 428px !important;
                height: 100%;
            }
        }
        .sn-push-products{
            &__image{
                margin-bottom: 3rem;
                position: relative;
                text-align: center;
                img{
                    border-radius: 200px;
                }
                .sn-push-products{
                    &__cta{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        background: transparent;
                        right: -7rem;
                        bottom: -1rem;
                        border: 0;
                        border-radius: 50px;
                        padding: 1rem;
                        transform: translate(-7rem, -2rem);
                        transition: all .3s ease-in-out;
                        outline: 0;
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 45px;
                            background: url('../assets/images/border.svg') no-repeat;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                            height: 100%;
                            width: 45px;
                            background: url('../assets/images/border.svg') no-repeat;
                            transform: rotate(180deg);
                        }
                        .cartAdd{
                            color: $brown-dark;
                            &::before{
                                margin: 0.3rem;
                            }
                        }
                        p{
                            padding-left: 10px;
                            margin: 0;
                            text-transform: uppercase;
                            font-family: $gillsans;
                            font-weight: 500;
                            font-size: 1.2rem;
                            letter-spacing: 1px;
                            color: $brown-dark;
                            width: 0;
                            visibility: hidden;
                            opacity: 0;
                            transition: all .3s ease-in-out;
                        }
                        &:hover{
                            width: 130px;
                            transform: translate(0, -2rem);
                            right: 0;
                            p{
                                width: auto;
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                        @include respond-to(#{sm}){
                            left: calc(100% + 5rem);
                            &:hover{
                                left: auto;
                                right: -5rem;
                            }
                        }
                    }
                }
            }
            &__category{
                color: $red-dark;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                margin-bottom: 1rem;
                @include respond-to(#{sm}){
                    font-size: 1.4rem;
                }
            }
            &__title{
                margin-bottom: 1rem;
                padding-bottom: 0;
                display: block;
                font-size: 2.4rem;
                line-height: 1;
                &::before,
                &::after{
                    content: none;
                }
            }
            &__type,
            &__price{
                text-align: center;
                font-size: 1.4rem;
                @include respond-to(#{sm}){
                    font-size: 1.6rem;
                }
            }
        }
    }
}