.s-push-square{
    padding: 7rem 0;
    &__suptitle{
        text-transform: uppercase;
        text-align: center;
    }
    &__title{
        font-size: 40px;
        text-align: center;
        margin: 0 0 4rem;
    }
    &__items{
        padding: 0;
        display: flex;
        @include respond-to(#{sm}){
            display: block;
        }
    }
    &__item{
        text-align: center;
        &:nth-child(2){
            margin: 0 7rem;
            @include respond-to(#{sm}){
                margin: 0 0 5rem;
            }
        }
        .s-push-square{
            &__title{
                margin: 2rem 0 1rem;
                font-size: 24px;
            }
            &__text{
                font-size: 14px;
            }
        }
        @include respond-to(#{sm}){
            width: 100%;
            margin-bottom: 5rem;
            padding: 0;
        }
    }
    &__image{
        img{
            width: 100%;
        }
    }
    &.two-items{
        .s-push-square{
            &__items{
                padding: 0;
                text-align: center;
                @include respond-to(#{sm}){
                    padding: 0;
                }
            }
            &__item{
                flex: 1;
                &:last-of-type{
                    margin: 0 0 0 7rem;
                }
                @include respond-to(#{sm}){
                    width: 100%;
                    &:last-of-type{
                        margin: 0 0 5rem 0;
                    }
                }
            }
        }
    }
    &--offset{
        .s-push-square{
            &__item{
                &:nth-child(2){
                    margin-top: 4rem;
                    @include respond-to(#{sm}){
                        margin-top: 0;
                    }
                }
            }
        }
    }
}