.s-push-rounded{
	padding: 5rem 5rem 0;
	@media(max-width: 380px){
		padding: 5rem 1rem 0;
	}
	&__suptitle{
		text-align: center;
		text-transform: uppercase;
	}
	&__title{
		font-size: 40px;
		text-align: center;
		margin: 0 0 4rem;
	}
	&__item{
		position: relative;
		border-radius: 200px;
		margin: 0 3rem;
		overflow: hidden;
		text-align: center;
		vertical-align: top;
		padding-bottom: 10rem;
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 0;
			border: 1px solid $gray-brown;
			left: 0;
			top: 0;
			border-radius: 200px;
			visibility: hidden;
			opacity: 0;
			transition: all .3s ease-in-out;
			@include respond-to(#{sm}){
				width: calc(100% - 6rem);
				left: 50%;
				transform: translateX(-50%);
			}
		}
        @include respond-to(#{sm}){
			margin: 0;
			width: 100%;
			padding: 0 3rem;
			padding-bottom: 5rem;
			&::before{
				height: 100%;
				visibility: visible;
				opacity: 1;
			}
        }
		&:hover{
			&::before{
				height: 100%;
				visibility: visible;
				opacity: 1;
			}
			.s-push-rounded{
				&__link{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.s-push-rounded{
			&__title{
				margin: 1rem 0;
				font-size: 24px;
			}
		}
	}
	&__image{
		img{
			width: 100%;
			border-radius: 200px;
		}
	}
	&__text{
		padding: 0 1rem;
		margin: 0;
	}
	&__link{
		position: relative;
		display: inline-block;
		margin-top: 5rem;
		text-decoration: none;
		text-transform: uppercase;
		color: $gray-brown;
		transition: all .3s ease-in-out;
		opacity: 0;
		visibility: hidden;
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background: $gray-brown;
			left: 0;
			bottom: -.5rem;
		}
        @include respond-to(#{sm}){
			opacity: 1;
			visibility: visible;
        }
	}
	&__label{  }
}
