.s-push-samples{
	position: relative;
    padding: 5rem 10rem;
	@include respond-to(#{sm}){
		padding: 5rem 0;
	}
	&__wrapper{
		display: flex;
		align-items: center;
		@include respond-to(#{sm}){
			display: block;
		}
	}
	&__content{
		flex: 1;
        @include respond-to(#{sm}){
			width: 100%;
			padding: 0 2rem;
			text-align: center;
        }
	}
	&__title{
		font-size: 40px;
		margin: 0 0 1rem 0;
        @include respond-to(#{sm}){
			text-align: left;
        }
	}
	&__text{
        @include respond-to(#{sm}){
			text-align: left;
        }
	}
	&__image{
		flex: 1;
		margin-left: 7rem;
		@include respond-to(#{sm}){
			margin-left: 0;
		}
		img{
			width: 100%;
		}
        @include respond-to(#{sm}){
			width: 100%;
			overflow: hidden;
			margin-top: -5rem;
			.responsive-image__wrapper{
				transform: translateY(80px);
			}
        }
	}
	&__steps{
		margin: 3rem 0;
        @include respond-to(#{sm}){
			text-align: center;
        }
	}
	&__step {
		display: inline-block;
		width: 30%;
		text-align: center;
		vertical-align: text-top;
        @include respond-to(#{sm}){
			width: 49%;
			margin-bottom: 3rem;
        }
		&__text{
			text-transform: uppercase;
			font-size: 1.4rem;
		}
		&__icon{
			width: 42px;
			height: 40px;
			position: relative;
			margin: 0 auto;
			margin-bottom: 1rem;
			&::before{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			&::after{
				counter-increment: section;
  				content: counter(section);
				position: absolute;
				left: -2rem;
				top: -1rem;
				font-weight: 300;
				font-size: 25px;
				color: $brown-dark;
			}
			&.icon{
				&__1{
					&::before{
						background: url('../assets/images/choix.svg') no-repeat center;
					}
				}
				&__2{
					&::before{
						background: url('../assets/images/test.svg') no-repeat center;
					}
				}
				&__3{
					&::before{
						background: url('../assets/images/profite.svg') no-repeat center;
					}
				}
			}
		}
	}
	&__cta{ }
	&__image{  }
}
