.s-reassurances,
.s-product__features{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 10rem);
    margin: 2rem 5rem;
    border-bottom: 1px solid #CAC0B1;
    @include respond-to(#{sm}){
        display: inline-block;
        text-align: center;
    }
    div{
        &[element="item"] {
            width: 20%;
            text-align: center;
            @include respond-to(#{sm}){
                width: 49%;
                display: inline-block;
                vertical-align: top;
                margin-bottom: 3rem;
            }
            span{
                &[element="icon"]{
                    position: relative;
                    display: inline-block;
                    transition: all .3s ease-in-out;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 400%;
                    }
                    &[data-icon="icon__coursier"]{
                        width: 45px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/coursier.svg') no-repeat;
                        }
                    }
                    &[data-icon="icon__echantillon"]{
                        width: 22px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/echantillon.svg') no-repeat;
                        }
                    }
                    &[data-icon="icon__livraison"]{
                        width: 37px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/livraison.svg') no-repeat;
                        }
                    }
                    &[data-icon="icon__remboursement"]{
                        width: 32px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/remboursement.svg') no-repeat;
                        }
                    }
                    &[data-icon="icon__service"]{
                        width: 34px;
                        height: 40px;
                        &::before{
                            background: url('../assets/images/service.svg') no-repeat;
                        }
                    }
                }
            }
            p {
                color: $red-dark;
                font-size: 13px;
                margin: 0 0 10px;
                font-weight: 500;
                transition: all .3s ease-in-out;
            }
            &:hover{
                span{
                    &[element="icon"]{
                        transform: rotate(30deg);
                    }
                }
            }
        }
    }
}