.sn-text-image{
    padding: 5rem 0;
    @include respond-to(#{sm}){
        padding: 0;
    }
    &__container{
        border: 1px solid $brown-dark;
        display: flex;
        align-items: center;
        @include respond-to(#{md}){
            align-items: unset;
        }
        @include respond-to(#{sm}){
            display: block;
        }
        > div{
            flex: 54%;
            text-align: center;
            @include respond-to(#{sm}){
                width: 100%;
            }
        }
        &--borderless{
            border: 0;
            .sn-text-image{
                &__image {
                    img{
                        border-bottom: none;
                    }
                }
            }
        }
        &--image{
            &-right{
                .sn-text-image{
                    &__content{
                        order: -1;
                        text-align: left;
                    }
                }
            }
            &-left{
                .sn-text-image{
                    &__content{
                        text-align: left;
                    }
                }
            }
        }
    }
    &__content{
        padding: 0 2rem;
    }
    &__image{
        flex: 46% !important;
        text-align: left !important;
        figure{
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            @include respond-to(#{sm}){
                width: 100%;
                border-bottom: 1px solid $brown-dark;
            }
        }
        figcaption{
            font-size: 1.2rem;
            color: $brown-darker;
            margin-top: 1rem;
        }
    }
    &__content{
        padding: 2rem;
        @include respond-to(#{sm}){
            padding: 0 1rem 3rem;
        }
    }
    &__title{
        font-size: 3.4rem;
        margin-top: 0;
        @include respond-to(#{sm}){
            font-size: 2.4rem;
        }
    }
}