<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page and current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=fsvzg1skrhlrmybzguivba" async="true"></script>

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template | handle }}">

<div id="app" :class="{'sticky':sticky}">
    {% section 'header' %}

  <main role="main" id="MainContent">
    {% block content %}My default content{% endblock %}
  </main>

    {% section 'footer' %}
    
    {% section 'popin' %}

  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
  {{ 'shopify-money.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  
  <script>
    Shopify.money_format = '{{ shop.money_format }}'
    var parent = document.querySelector(".swiper-pagination-progressbar");
    var selection = document.createElement("div");
    var element = document.querySelector('.swiper-pagination-progressbar-fill');
    selection.classList.add("selection");
    parent.appendChild(selection);

    var position = element.getBoundingClientRect();
    var width = position.width;
    selection.style.left = width - 30 + "px";

    var observer = new MutationObserver(function(mutations) {
      mutations.forEach(function(mutationRecord) {
        setTimeout(function(){
          var position = element.getBoundingClientRect();
          var width = position.width;
    console.log(width)
          selection.style.left = width - 30 + "px";
        }, 300)
      });
    });
    observer.observe(element, { attributes : true, attributeFilter : ['style'] });

    window.addEventListener('resize', function(event) {
      if(parent.contains(selection) == false){
        parent.appendChild(selection);
        var position = element.getBoundingClientRect();
        var width = position.width;
        selection.style.left = width - 30 + "px";
      }
    }, true);
  </script>

</body>
</html>
