@use "sass:math";

/**
 * Returns the transition properties in the correct format
 * This function is used by @mixin transition($transitions...)
 */
@function get-transition-properties($transition) {
  $property: all;
  $duration: $transition-duration;
  $easing: $transition-timing;
  $delay: null;

  $defaultProperties: (
    $property,
    $duration,
    $easing,
    $delay
  );

  $properties: ();

  @for $i from 1 through length($defaultProperties) {
    $p: null;

    @if $i <= length($transition) {
      $p: nth($transition, $i);
    } @else {
      $p: nth($defaultProperties, $i);
    }

    $properties: append($properties, $p);
  }

  @return $properties;
}

@function allow($properties, $speed:$transition-duration, $easing:'ease-in-out') {

  $will-change : ();
  $i           : 0;

  @if($speed == false ){
    $speed : $transition-duration
  }

  @each $property in $properties {

    $will-change : append($will-change, $property);
    @if($i < length($properties)-1){
      $will-change : append($will-change, unquote(','));
    }
    $i: $i+1;
  }

  @return $will-change+unquote('; transition-duration:')+$speed+unquote('; transition-timing-function:')+$easing+unquote('; will-change:')+$will-change+unquote(';');
}

$transition-duration : 0.3s !default;
$transition-delay : math.div($transition-duration,6) !default;

$speed-very-fast : math.div($transition-duration,2) !default;
$speed-fast      : $transition-duration !default;
$speed-slow      : $transition-duration*2 !default;
$speed-very-slow : $transition-duration*4 !default;
