

	<div class="container">
		<div class="sn-anchors">
		{% for item in section.settings.anchors %}
		<div class="sn-anchors__anchor">

			<div class="sn-anchors__image"><img src="{{ item.image }}"></div>
			<p class="sn-anchors__text">{{ item.text }}</p>
			<a class="sn-anchors__link" href="#{{ item.id }}"></a>
		</div>
		{% endfor %}
	</div>


</div>
