{% assign t = template | split: '.' | first  %}

<nav class="sn-breadcrumb" aria-label="breadcrumbs">
	<ul>
		<li>
			<a href="{{ routes.root_url }}" title="{{ 'layout.breadcrumb.home' | t }}">{{ 'layout.breadcrumb.home' | t }}</a>
		</li>

		{% case t %}
			{% when 'page' %}

				{% comment %} breadcrumb link output {% endcomment %}

			{% else %}

				<li aria-current="page">
					<a href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
				</li>

		{% endcase %}

	</ul>
</nav>