<cart inline-template @close-cart="drawerCart = false">
	<form action="{{ routes.cart_url }}" method="post" novalidate class="sn-cart">
		<div class="sn-cart__title">{{ 'cart.general.title' |  t }}</div>
		<div  v-if="cart.items && cart.items.length > 0">
			<div class="sn-cart__items">
					<cart-line :line="index+1" inline-template :item="item" v-for="(item,index) in cart.items" :key="index">
						<div class="sn-cart__item">
							<div>
								<a :href="item.url">
									<img :src="featured_image(item.featured_image.url)" :alt="item.title">
								</a>
							</div>
							<div class="sn-cart__item-details">
								<button @click.prevent="remove" class="sn-cart__item-remove button"><span class="icon-close"></span></button>
								<a :href="item.url"  class="sn-cart__item-title">[[ item.product_title ]]</a>
								<div v-for="(option, index) in item.options_with_values" :key="index">
									[[ option.value ]]
								</div>
								<span v-if="item.variant_title !== 'Default Title'">[[ item.variant_title ]]</span>
								<!-- <div class="sn-cart__item-price">[[ $root.formatPrice(item.price) ]]</div> -->

								<div class="sn-cart__item-total">
									<div class="sn-cart__counter">
										<!-- <span class="sn-cart__counter-down" @click="increment('down')"><span class="icon-minus"></span></span>
										<input type="text" name="updates[]" :id="'updates_' + item.id" class="sn-cart__counter-input" :value="item.quantity" />
										<span class="sn-cart__counter-up" @click="increment('up')"><span class="icon-plus"></span></span> -->
										<label>Quantity :</label>
										<select name="quantity" id="">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
										<i class="icon-cheveron"></i>
									</div>
									<div  class="sn-cart__item-totalprice" ref="lineprice">
										<span v-if="item.original_line_price !== item.line_price">[[ $root.formatPrice(item.original_line_price) ]]</span>
										<span v-html="$root.formatPrice(item.final_line_price)" v-if="item"></span>
										<span v-for="(discount,index) in item.discounts" :key="index">[[discount.title]]</span>
									</div>
								</div>

							</div>
						</div>
					</cart-line>
			</div>
			<div class="sn-cart__details">
				<div class="sn-cart__subtotal">
					<span>{{ 'cart.general.subtotal' |  t }}</span><span v-html="$root.formatPrice(cart.items_subtotal_price)"></span>
				</div>
				<div class="sn-cart__shipping">
					<span>{{ 'cart.general.estimated_shipping' |  t }}</span><span>0€</span>
				</div>
				<div class="sn-cart__total">
					<span>{{ 'cart.general.total' |  t }}</span><span v-html="$root.formatPrice(cart.total_price)"></span>
				</div>
				<button type="submit" class="button button--main sn-cart__checkout gradient-btn" name="checkout">{{ 'cart.general.checkout' |  t }}</button>

				<p class="sn-cart__reassurances-text">{{ products_infos.reassurance_text }}</p>
				<div class="sn-cart__reassurances">
					<svg xmlns="http://www.w3.org/2000/svg" width="45.034" height="37.734" viewBox="0 0 45.034 37.734">
						<g id="coursier" transform="translate(0 0.559)">
						  <g id="Calque_1" data-name="Calque 1" transform="translate(0 0)">
							<rect id="Rectangle_44" data-name="Rectangle 44" width="14.17" height="8.774" rx="1.78" transform="translate(0 3.96) rotate(-6.7)" fill="#fff"/>
							<path id="Tracé_173" data-name="Tracé 173" d="M38.446,6.531,35.466.944a.9.9,0,0,0-1.2-.337L28.18,3.842a.9.9,0,0,0-.48.805V7.321a.9.9,0,0,0,.9.9h8.623a.2.2,0,0,0,.064-.4L33.132,6.458a.2.2,0,0,1-.073-.346l3.626,1.435C37.957,7.99,38.456,6.546,38.446,6.531Z" transform="translate(-14.045 -0.5)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
							<path id="Tracé_174" data-name="Tracé 174" d="M74.21,17.89l8.035,19.479a1.126,1.126,0,0,1-.646,1.464,3.272,3.272,0,0,0-2,2.367" transform="translate(-37.794 -9.404)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
							<path id="Tracé_175" data-name="Tracé 175" d="M48.13,9.621a4.5,4.5,0,0,1,.822-.268h0a4.125,4.125,0,0,1,4.894,3.133l.582,2.576" transform="translate(-24.477 -4.986)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
							<path id="Tracé_176" data-name="Tracé 176" d="M43.85,20.38l-.558-2.547a4,4,0,0,1-.039-1.522" transform="translate(-21.959 -8.595)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
							<path id="Tracé_177" data-name="Tracé 177" d="M33.16,22.257,53.249,17.89l5.383,23.28a.063.063,0,0,1-.044.068L36.84,46.05a1.223,1.223,0,0,1-1.468-1.078Z" transform="translate(-16.833 -9.404)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
							<path id="Tracé_178" data-name="Tracé 178" d="M61.608,45.857A6.422,6.422,0,0,0,59,34" transform="translate(-30.028 -17.653)" fill="none" stroke="#a5967e" stroke-miterlimit="10" stroke-width="3"/>
							<path id="Tracé_179" data-name="Tracé 179" d="M47.254,35.89a6.422,6.422,0,0,0,2.589,11.847" transform="translate(-22.466 -18.621)" fill="none" stroke="#a5967e" stroke-miterlimit="10" stroke-width="3"/>
						  </g>
						</g>
					  </svg>
					<p>{{ products_infos.reassurance_text_icon }}</p>
				</div>

			</div>
		</div>
		<div v-else>
			{{ 'cart.general.empty' |  t }}
		</div>

	</form>
</cart>