<div class="sn-contact-pushes">
	<div class="container">
		<h2 class="sn-contact-pushes__title">{{ page.contact_pushes.title }}</h2>
		<div class="sn-contact-pushes__pushes">
			{% for push in page.contact_pushes.pushes %}
				<div class="sn-contact-pushes__push">

					<h3 class="sn-contact-pushes__title">{{ push.title }}</h3>
					<div class="sn-contact-pushes__wysiwyg">{{ push.wysiwyg |  raw }}</div>

					{% if push.special_links %}
						{% for link in push.special_links  %}
							<div data-icon="{{ link.type }}">{{ link.value }}</div>
						{% endfor %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>


</div>
