<div class="container">
	<div class="sn-exceptional">

		<div class="sn-exceptional__imgTxt">
			<div>
				<div class="sn-exceptional__suptitle">{{ section.settings.suptitle }}</div>
				<h2 class="sn-exceptional__title">{{ section.settings.title }}</h2>
				<div class="sn-exceptional__image-1"><img src="{{ section.settings.image1 }}" /></div>
			</div>
			<div class="sn-exceptional__image-hd">
				<img src="{{ section.settings.image_hd }}" />
				<div class="sn-exceptional__text-hd">{{ section.settings.text_hd }}</div>
			</div>
		</div>

		<div class="sn-exceptional__products">
			<swiper :options="$root.exepProducts">
				{% for product in section.settings.products %}
					<swiper-slide>
						<div class="sn-exceptional__product">
							<img src="{{ product.image }}" />
							<h2 class="sn-exceptional__product-title">{{ product.title }}</h2>
							<div class="sn-exceptional__product-type">{{ product.type }}</div>
							<div class="sn-exceptional__product-text">{{ product.text }}</div>
							<a class="plus" href="{{ product.link }}"><p>{{ product.linkText }}</p></a>
						</div>
					</swiper-slide>
				{% endfor %}
			</swiper>

		</div>


	</div>
</div>
