<div class="sn-faq-content">

	<h2 class="sn-faq-content__title">{{ data.title }}</h2>
		{% for item in page.faq_content.items %}
		<div class="sn-faq-content__items">

		<h3 class="sn-faq-content__title" id="{{ item.id }}">{{ item.title }}</h3>
		<div class="sn-faq-content__text">{{ item.text | raw }}</div>
	</div>
	{% endfor %}


</div>
