<div class="sn-faq-pushes">
	<div class="container-medium">
	<h2 class="sn-faq-pushes__title">{{ page.faq_pushes.title }}</h2>
	<div class="sn-faq-pushes__items">
		{% for item in page.faq_pushes.items %}
			<div class="sn-faq-pushes__item">
				<i class="icon-cheveron"></i>
				<a class="sn-faq-pushes__link" href="{{ item.link }}">{{ item.label }}</a>
			</div>
		{% endfor %}
	</div>

</div>
</div>
