<div class="sn-faq-sidebar">
	<h1>{{ page_title }}</h1>

	{% for item in page.faq_sidebar %}
		<div class="sn-faq-sidebar__category sn-faq-sidebar__category--{{ item.active }}">

			<a class="sn-faq-sidebar__parent" href="{{ item.parent.link }}">{{ item.parent.title }}</a>

			{% for child in item.children  %}
				<div class="sn-faq-sidebar__children">
					<a class="sn-faq-sidebar__anchor" href="#{{ child.anchor_id |  handle }}">{{ child.anchor_label }}</a>
				</div>
			{% endfor %}

		</div>
	{% endfor %}


</div>
