<div class="sn-hero sn-hero--{{ page.options.hero_layout }}">
	<div class="sn-hero__image">
		<img src="{{ page.options.hero_image }}" />
	</div>

	<div class="container">
		{% render 'breadcrumb', page_title: page.title %}
		<div class="sn-hero__content">
			<h2 class="sn-hero__title">{{ page.title }}</h2>
			<p class="sn-hero__text">{{ page.content }}</p>
		</div>
	</div>

</div>
