<!-- /templates/customers/login.liquid -->

{% form 'customer_login' %}
	<div class="sn-login font-accent">
		<div class="container">
		<div>
			<h2 class="sn-login__title">{{ 'customer.login.already_registered' | t }}</h2>

			<div class="sn-login__errors form-errors">
				{{ form.errors | default_errors }}
			</div>

			<div class="sn-login__form">
				<input type="email" name="customer[email]" class="{% if form.errors contains 'email' %} error{% endif %} sn-login__input" autocorrect="off" autocapitalize="off" autofocus placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}">

				{% if form.password_needed %}
					<input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} error{% endif %}sn-login__input" placeholder="{{ 'customer.login.password' | t }}" aria-label="{{ 'customer.login.password' | t }}">
				{% endif %}

				<div class="sn-login__actions">
					<input type="submit" class="account-form-submit button button--main" value="{{ 'customer.login.sign_in' | t }}">
					{% if form.password_needed %}
						<a href="#0" class="js-recoverToggle sn-login__recover">{{ 'customer.login.forgot_password' | t }}</a>
					{% endif %}
				</div>

			</div>

			<div>
				{% if shop.customer_accounts_enabled %}
					<h2 class="sn-login__title">{{ 'customer.login.register' | t }}</h2>
					<a href="{{ routes.account_register_url }}" class="link icon_after-angle-right font-main sn-login__register">{{ 'customer.register.title' | t }}</a>
				{% endif %}
			</div>

		</div>
	</div>
	</div>
{% endform %}
