<section class="sn-newsletter">
  <div class="container">
<div class="sn-newsletter__wrapper">
  <div class="sn-newsletter__image">
    {% if section.settings.newsletter_image != blank %}
      <picture>
        <source media="(max-width: 375px)" srcset="{{ section.settings.newsletter_image  }}">
        <source media="(max-width: 1023px)" srcset="{{ section.settings.newsletter_image }}">
        <img src="{{ section.settings.newsletter_image }}" />
      </picture>
    {% endif %}
  </div>

  <div class="sn-newsletter__content">

    {% if section.settings.title != blank %}
      <label for="Email">{{ section.settings.title | escape }}</label>
    {% endif %}
    {% if section.settings.text != blank %}
      <p>{{ section.settings.text | escape }}</p>
    {% endif %}

    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div>
          <input type="email"
          name="contact[email]"
          id="Email"
          value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
          placeholder="Nom@gmail.com"
          autocorrect="off"
          autocapitalize="off">
          <button type="submit" name="commit" id="Subscribe">
            <span>ok</span>
          </button>
        </div>
        <input type="checkbox" id="checkbox"><label for="checkbox">{{ section.settings.newsletter_cgv | escape }}</label>
      {% endif %}
    {% endform %}
  </div>
</div>
</div>
</section>