<div class="sn-push-products" id="sn-push-products">
	<div class="container">

	<h3 class="sn-push-products__suptitle">{{ section.settings.suptitle }}</h3>
	<h2 class="sn-push-products__title">{{ section.settings.title }}</h2>

	<div class="swiper-global">
	<swiper :options="$root.pushProducts">

		{% for product in section.blocks %}
			<swiper-slide>
				<div class="sn-push-products__push-product">

					<div class="sn-push-products__image">
						{% comment %}{% if product.image != blank %}{% endcomment %}
							{% comment %}{% include 'responsive-image', image: product.image, max_width: 250, max_height: 428 %}{% endcomment %}
						{% comment %}{% else %}{% endcomment %}
							{% comment %}{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}{% endcomment %}
						{% comment %}{% endif %}{% endcomment %}
						<img src="{{ product.image }}" />
						<button class="sn-push-products__cta">
							<i class="cartAdd icon-cart"></i>
							<p>ajouter</p>
						</button>
					</div>
					<div class="sn-push-products__category">{{ product.category }}</div>
					<h2 class="sn-push-products__title">{{ product.title }}</h2>
					<div class="sn-push-products__type">{{ product.type }}</div>
					<div class="sn-push-products__price">{{ product.price }}</div>
				</div>
			</swiper-slide>
		{% endfor %}
		<div class="swiper-pagination sn-push-products__pagination" slot="pagination"></div>

	</swiper>
	<div class="swiper-button-prev sn-push-products__prev" slot="button-prev"></div>
	<div class="swiper-button-next sn-push-products__next" slot="button-next"></div>
</div>
</div>
</div>
