
	<div class="container text-center">
		<div class="sn-samples-columns">

	{% for block in section.blocks %}
		{% assign item = block.settings %}
		<div class="sn-samples-columns__column">

			<div class="sn-samples-columns__image"><img src="{{ item.image }}" alt="{{ item.title }}"></div>
			<span class="sn-samples-columns__icon" data-icon="{{ item.icon }}"></span>
			<h2 class="sn-samples-columns__title">{{ item.title }}</h2>
			<p class="sn-samples-columns__text">{{ item.text }}</p>
		</div>
	{% endfor %}

</div>
<!-- <div class="sn-samples-columns__cta-label">{{ section.settings.cta_label }}</div> -->
<a class="sn-samples-columns__cta-link gradient-btn" href="{{ section.settings.cta_link }}">{{ section.settings.cta_label }}</a>
</div>
