<div class="sn-sidebar-account">
	<div class="container">
	<h2>{{ options.sidebar_account.title }}</h2>
	<p>{{ options.sidebar_account.text }}</p>

		{% if customer %}
			<a href="{{ routes.account_logout_url }}" class="sn-sidebar-account__logout gradient-btn">{{ 'layout.customer.log_out' | t }}</a>
		{% endif %}
</div>
</div>