{%- assign og_title = page_title -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}
{% if settings.share_image %}
  {%- capture og_image_tags -%}
    <meta property="og:image" content="http:{{ settings.share_image | img_url: 'master' }}">
    <meta property="og:image:secure_url" content="https:{{ settings.share_image | img_url: 'master' }}">
    <meta property="og:image:width" content="{{ settings.share_image.width }}">
    <meta property="og:image:height" content="{{ settings.share_image.height }}">
    <meta property="og:image:alt" content="{{ settings.share_image.alt | escape }}">
  {%- endcapture -%}
{% endif %}

{% comment %}
  Template specific overides
{% endcomment %}
{%- if template.name == 'product' -%}
  {%- assign og_title = product.title | strip_html -%}
  {%- assign og_type = 'product' -%}
  {%- capture og_image_tags -%}
    {%- for image in product.images limit: 3 -%}
      <meta property="og:image" content="http:{{ image | product_img_url: 'master' }}">
      <meta property="og:image:secure_url" content="https:{{ image | product_img_url: 'master' }}">
      <meta property="og:image:width" content="{{ image.width }}">
      <meta property="og:image:height" content="{{ image.height }}">
      <meta property="og:image:alt" content="{{ image.alt | escape }}">
    {%- endfor -%}
  {%- endcapture -%}

{%- elsif template.name == 'article' -%}
  {%- assign og_title = article.title | strip_html -%}
  {%- assign og_type = 'article' -%}
  {%- assign og_description = article.excerpt_or_content | strip_html -%}
  {%- if article.image -%}
    {%- capture og_image_tags -%}
      <meta property="og:image" content="http:{{ article.image | img_url: 'master' }}">
      <meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'master' }}">
      <meta property="og:image:width" content="{{ article.image.width }}">
      <meta property="og:image:height" content="{{ article.image.height }}">
      <meta property="og:image:alt" content="{{ article.image.alt | escape }}">
    {%- endcapture -%}
  {%- endif -%}

{%- elsif template.name == 'collection' -%}
  {%- assign og_title = collection.title | strip_html -%}
  {%- assign og_type = 'product.group' -%}
  {%- if collection.image -%}
    {%- capture og_image_tags -%}
      <meta property="og:image" content="http:{{ collection.image | img_url: 'master' }}">
      <meta property="og:image:secure_url" content="https:{{ collection.image | img_url: 'master' }}">
      <meta property="og:image:width" content="{{ collection.image.width }}">
      <meta property="og:image:height" content="{{ collection.image.height }}">
      <meta property="og:image:alt" content="{{ collection.image.alt | escape }}">
    {%- endcapture -%}
  {%- endif -%}

{%- elsif template.name == 'password' -%}
  {%- assign og_title = shop.name -%}
  {%- assign og_url = shop.url -%}
  {%- assign og_description = shop.description | default: shop.name -%}
{%- endif -%}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description }}">
{%- if template.name == 'product' -%}
  {%- if product.available -%}
    {%- assign og_product_availability = 'instock' -%}
  {%- else -%}
    {%- assign og_product_availability = 'oos' -%}
  {%- endif -%}
  <meta property="product:availability" content="{{ og_product_availability }}">
  {% comment %}<meta property="product:price:amount" content="{{ product.price | money_without_currency | strip_html }}">{% endcomment %}
  <meta property="product:price:currency" content="{{ shop.currency }}">
{%- endif -%}
{{ og_image_tags }}

<meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:description" content="{{ og_description }}">
