<div class="sn-text-image">
	<div class="container">
		<div class="sn-text-image__container sn-text-image__container--{{ section.settings.mod }} sn-text-image__container--{{ section.settings.border }}">
			<div class="sn-text-image__image">
				{% if section.settings.image %}

					<figure>
						<picture>
							<source media="(max-width: 375px)" srcset="{{ section.settings.image | img_url: '375x620', crop: 'center'  }}">
							<source media="(max-width: 1023px)" srcset="{{ section.settings.image | img_url: '1691x1023', crop: 'center'  }}">
							<img src="{{ section.settings.image }}" />
						</picture>
						{% if section.settings.image_legend %}
							<figcaption>{{ section.settings.image_legend }}</figcaption>
						{% endif %}
					</figure>

				{% endif %}
			</div>
			<div class="sn-text-image__content">
				{% if section.settings.title %}
					<h2 class="sn-text-image__title">{{ section.settings.title }}</h2>
				{% endif %}
				{% if section.settings.text %}
					<div class="sn-text-image__text">
						{{ section.settings.text }}
					</div>
				{% endif %}
				{% if section.settings.cta1_link %}
					<a class="sn-text-image__cta1 link icon_after-angle-right {{ section.settings.cta_style }} default_cta" href="{{ section.settings.cta1_link }}">{{ section.settings.cta1_label }}</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
