<div class="sn-wysiwyg">
	<div class="container">
	{% if section.settings.subtitle %}
		<div class="sn-wysiwyg__suptitle">{{ section.settings.subtitle }}</div>
	{% endif %}
	<h2 class="sn-wysiwyg__title">{{ section.settings.title }}</h2>

	<div class="sn-wysiwyg__wysiwyg">
		{{ section.settings.wysiwyg|raw }}
	</div>
</div>
</div>
