.t-404{
    padding: 5rem 0 25rem;
    display: flex;
    @include respond-to(#{sm}){
        padding-bottom: 10rem;
        display: block;
    }
    > div {
        flex: 1;
    }
    &__text{
        text-align: center;
        margin-right: 5rem;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        a{
            padding: .7rem 3rem;
        }
        @include respond-to(#{sm}){
            margin-right: 0;
            margin-bottom: 4rem;
            padding-bottom: 4rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            border-right: 0;
        }
    }
    &__search{
        @include respond-to(#{sm}){
            text-align: center;
        }
        input{
            border: 0;
            background: transparent;
            border-bottom: 1px solid rgba(0, 0, 0, .59);
            outline: 0;
            color: $black;
            font-family: $font-body;
            &::placeholder{
                color: rgba(0, 0, 0, 0.59);
            }
        }
        button{
            position: relative;
            padding: 0;
            width: 20px;
            height: 20px;
            background: transparent;
            margin-right: .5rem;
            .icon-fallback-text{
                position: relative;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                clip: auto;
                font-size: 0;
                overflow: visible;
            }
        }
    }
    h1,
    h2{
        margin-top: 0;
    }
}