.t-collection{
	&__hero{
		img{
			width: 100%;
		}
		@include respond-to(#{md}){
			position: relative;
			min-height: 414px;
			overflow-x: hidden;
			img{
				position: absolute;
				right: 0;
				height: 100%;
				width: auto;
				max-width: initial;
			}
		}
	}
	&__list{
		padding: 0;
		width: 100%;
		list-style: none;
		display: inline-flex;
		justify-content: center;
		li{
			margin-right: 7rem;
			font-size: 2.4rem;
			color: $black;
			@include respond-to(#{sm}){
				margin-right: 2rem;
			}
			a{
				color: inherit;
				text-decoration: none;
				transition: all .3s ease-in-out;
				&:hover{
					color: $brown-dark;
				}
			}
		}
	}
	&__title{
		font-size: 4rem;
		text-align: center;
	}
	&__description{
		font-size: 1.6rem;
		text-align: center;
	}
	&__showItems{
		padding: 4rem 0;
	}
	&__subcollection{
		text-align: center;
		&-title{
			font-size: 4rem;
			font-weight: 600;
		}
	}
	&__products{
		display: flex;
  		flex-wrap: wrap;
		text-align: left;
		justify-content: center;
		.sn-push-products{
			&__push-product{
				flex-grow: 0;
  				width: 28%;
				margin: 3rem 0;
				&:nth-child(2),
				&:nth-child(3n+2){
					margin: 3rem 7rem;
					@include respond-to(#{md}){
						margin: 3rem 0;
					}
				}
				.sn-push-products{
					&__cta{
						right: -5rem;
						top: calc(100% - 2rem);
						bottom: auto;
					}
				}
				@include respond-to(#{md}){
					width: 40%;
				}
				@include respond-to(#{sm}){
					width: 47%;
					.sn-push-products{
						&__cta{
							right: auto;
							top: calc(100% - 2.5rem);
						}
					}
				}
			}
			&__image{
				img{
					width: 100%;
				}
			}
		}
	}
	&__filters{
		.toggle-radio{
			display: flex;
			justify-content: center;
			align-items: center;
			input{
				width: 0px;
				margin: 0;
			}
			.switch{
				position: relative;
				width: 6rem;
				height: 2.9rem;
				border: 1px solid $brown-dark;
				border-radius: 200px;
				margin: 0 2rem;
				transition: all 1s ease-in-out;
				cursor: pointer;
				&::before{
					content: '';
					position: absolute;
					top: 1px;
					width: 25px;
					height: 100%;
					background: url('../assets/images/selection.svg') no-repeat;
					background-size: contain;
				}
				&.flacons-o{
					&::before{
						left: 1px;
					}
				}
				&.flacons-picots{
					&::before{
						right: 1px;
					}
				}
			}
		}
	}
}