form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
textarea,
select {
  font-size: 1.6rem;
  max-width: 100%;
  border: 1px solid $color-border;
  border-radius: 0;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

textarea {
  min-height: 100px;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}


.form-input{
  position: relative;
  width: 100%;
  label{
      position: absolute;
      left: .3rem;
      color: $brown-darker;
      top: .5rem;
      pointer-events: none;
      transition: all .3s ease-in-out;
  }
  +p{
      width: 100%;
      text-align: right;
      input{
          padding: 1rem 5rem;
      }
  }
  &:last-of-type{
    input{
      margin-bottom: 0;
    }
  }
}
input{
  font-weight: 600;
  outline: 0;
  font-family: $gillsans;
  margin-bottom: 4rem;
  border: 0;
  border-bottom: 1px solid $brown-dark;
  padding: .5rem .3rem;
  width: 100%;
  &:nth-child(4){
      margin-bottom: 3rem;
  }
  &[type="submit"]{
      margin-bottom: 0;
      border-bottom: 0;
      width: auto;
      padding: 1rem 3rem;
      align-self: flex-end;
      @include respond-to(#{md}){
          width: 100%;
      }
  }
  &.focused{
       ~ label{
          font-size: 1.3rem;
          top: -15px;
       }
  }
}