html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  counter-reset: section;
}
body,
html {
  height: 100%;
  letter-spacing: 1px;
}

#app{
  overflow-x: hidden;
}


h2,
h1{
  font-weight: 600;
}

.text-center{
  text-align: center !important;
}

.plus{
  display: inline-flex;
  text-decoration: none;
  color: $brown-dark;
  text-transform: uppercase;
  position: relative;
  height: 30px;
  width: 25px;
  align-items: center;
    padding: 0 1rem;
  transition: all .3s ease-in-out;
  &::before{
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    height: 30px;
    width: 15px;
    background: url('../assets/images/border.svg') no-repeat;
    background-size: contain;
  }
  &::after{
    content: '';
    position: absolute;
    right: -5px;
    top: 0;
    height: 30px;
    width: 15px;
    background: url('../assets/images/border.svg') no-repeat;
    background-size: contain;
    transform: rotate(180deg);
  }
  p{
    margin: 0;
    line-height: 1.5;
    padding-left: 2rem;
    width: 0;
    color: transparent;
    transition: all .3s ease-in-out;
    &::before{
      content: "+";
      width: 20px;
      position: absolute;
      top: 50%;
      left: 0.3rem;
      font-family: $gillsans;
      font-size: 2.7rem;
      color: $brown-dark;
      font-style: normal;
      transform: translateY(-50%);
    }
  }
  &:hover{
    width: 137px;
    p{
      color: $brown-dark;
      width: auto;
    }
  }
  @include respond-to(#{sm}){
    width: 110px;
    p{
      color: $brown-dark;
      width: auto;
      font-size: 1.2rem;
      &::before{
        width: 23px;
        font-size: 2rem;
      }
    }
  }
}
.default_cta{
  display: inline-block;
  position: relative;
  color: $brown-dark;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: .5rem;
  font-size: 1.2rem;
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: $brown-dark;
  }
}
.gradient-btn{
  font-size: 1.2rem;
  padding: 1rem 3rem;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient( 180deg , rgba(145,132,112,1) 0%, rgba(220,197,158,1) 100%);
  -webkit-transition: background 1s ease-out;  
  -moz-transition: background 1s ease-out;  
  -o-transition: background 1s ease-out;  
  transition: background 1s ease-out;  
  border-radius: 50px;
  font-weight: 500;
  display: inline-block;
  border: none;
  &::after{
    content: none;
  }
  &:hover{
    background: linear-gradient( 90deg , rgba(220,197,158,1) 0%, rgba(145,132,112,1) 100%);
  }
}
.custom-btn{
  padding: 1rem 3rem;
  color: $red-dark;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid $red-dark;
  transition: all .3s ease-in-out;
  &:hover{
    background: $red-dark;
    color: $white;
  }
}

.btn-wishlist{
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  background: transparent;
  border: 0;
  border-radius: 50%;
  outline: 0;
  transition: all .3s ease-in-out;
  &::before,
  &::after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('../assets/images/border.svg') no-repeat;
    background-size: contain;
  }
  &::before{
    left: 0;
  }
  &::after{
    right: 0;
    transform: rotate(180deg);
  }
  .wishlist{
    margin-top: 0.5rem;
    display: block;
    svg{
      transition: all .3s ease-in-out;
    }
  }
  &:hover{
    background: linear-gradient(180deg, rgba(165,150,126,1) 0%, rgba(211,185,145,1) 100%);
    &::before,
    &::after{
      opacity: 0;
    }
    svg{
      path{
        fill: $white;
      }
    }
  }
}