.sn-anchors{
	display: flex;
	padding: 3rem 0;
	@include respond-to(#{sm}){
		display: block;
	}
	&__anchor{
		flex: 1;
		text-align: center;
		@include respond-to(#{sm}){
			margin-bottom: 3rem;
		}
		&:nth-child(n+1){
			margin-left: 3rem;
			@include respond-to(#{sm}){
				margin-left: 0;
			}
		}
		&:first-of-type{
			margin-left: 0;
		}
	}
		
	&__image{  }
	&__text{  }
	&__id{  }
}
