cart{ display: none }

.sn-cart{

	&__item{
		display: grid; grid-template-columns: 1fr 3fr; grid-gap: 1rem; margin-bottom: 3rem;
		&:last-of-type{
			margin-bottom: 0;
		}



		&-remove{
			float: right;
			padding-right: 0;
			padding-left: 0;
			background: transparent;
			font-size: 1.2rem;
			color: $brown-dark;
			&:hover{
				color: $black;
			}
		}
		&-total{
			display: block; justify-content: space-between; align-items: center;
		}
		&-price,&-totalprice{ font-weight: bold; margin-top: 2rem; }

		&-details{
			text-align: left;
			> div{
				margin: 1.5rem 0 1rem;
			}
		}

		&__details{
			padding: 2rem 0;
			border-top: 1px solid rgba(0, 0, 0, .1);
		}
		
		&-title{
			font-weight: 600;
			font-size: 1.6rem;
			color: $black;
			text-decoration: none;
			display: inline-block;
		}
	}
	
	&__details{
		padding-top: 3rem;
		margin-top: 3rem;
		border-top: 1px solid rgba(0, 0, 0, .1);
	}
	&__title{
		font-weight: bold;
		display: block;
		font-size: 2.4rem;
		margin-top: 0;
		padding: 2rem 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin-bottom: 2rem;
		+ div {
			padding: 2rem 5rem;
		}
	}

	&__counter{
		position: relative;
		display: inline-flex;

		& > *{
			border:none; display: inline-flex; justify-content: center; align-items: center; text-align: center;
		}

		select{
			font-family: $gillsans;
			outline: 0;
			padding-right: 2rem;
    		background: transparent;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 1px;
			text-overflow: '';
		}

		i{
			font-size: 1.4rem;
			transform: translateY(-50%) rotate(90deg);
			position: absolute;
			right: 0;
			top: 50%;
			z-index: -1;
		}

		input[type=text]{ border-bottom: none }

		&-up,&-down{
			cursor: pointer; transition: allow(background color);
			.no-touch &:hover{
				background: lightgrey; color: white;
			}
		}
	}

	&__subtotal{ display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem; }

	&__shipping{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	&__total{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 700;
		margin-bottom: 2rem;
	}

	&__checkout{ width: 100%; font-weight: bold}

	&__close{ display: block; cursor: pointer;  }

	&__reassurances{
		background: $red-dark;
		color: $white;
		padding: 1rem 3rem;
		text-align: left;
		display: flex;
		align-items: center;
		&-text{
			font-size: 1.4rem;
			margin: 2rem 0 !important;
			color: $red-dark;
			span{
				text-transform: uppercase;
			}
		}
		svg{
			margin-right: 1rem;
			width: 10rem;
			height: 7.5rem;
		}
	}

}