.sn-contact-pushes{
	padding-bottom: 5rem;
		
	&__title{
		font-size: 4rem;
		text-align: center;
		@include respond-to(#{sm}){
			font-size: 3.4rem;
		}
	}
	&__wysiwyg{
		font-size: 1.4rem;
	}
	&__pushes{
		display: flex;
		@include respond-to(#{sm}){
			display: block;
		}
	}
	&__push{
		flex: 1;
		padding: 2rem;
		border: 1px solid $brown-dark;
		@include respond-to(#{sm}){
			margin: 0 0 4rem;
		}
		&:nth-child(2){
			margin: 0 4.5rem;
			@include respond-to(#{sm}){
				margin: 0 0 4rem;
			}
		}
		.sn-contact-pushes{
			&__title{
				font-size: 2.4rem;
				margin-top: 0;
				text-align: left;
			}
		}
	}
	div{
		&[data-icon]{
			margin-bottom: 1rem;
			font-size: 1.4rem;
			color: $brown-dark;
			i{
				&.icon-whatsapp{
					padding: 0 25px 0 0;
				}
				&::before{
					font-size: 1.4rem;
				}
			}
		}
	}
}
