#L\'exceptionnel {
	main{
		background: $black;
		color: $white;
	}
	footer{
		margin-top: 4rem;
	}
	.sn-breadcrumb{
		ul{
			li{
				a{
					color: $white;
				}
			}
		}
	}
}
.sn-exceptional{
	padding: 5rem 0 11.2rem;
	&__imgTxt{
		display: flex;
    	margin-bottom: 4rem;
		@include respond-to(#{sm}){
			display: block;
		}
		> div{
			flex: 1;
		}
	}
	&__suptitle{
		text-align: center;
		font-size: 1.2rem;
		margin-right: 5rem;
		text-transform: uppercase;
		@include respond-to(#{sm}){
			margin-right: 0;
		}
	}
	&__title{
		text-align: center;
		font-size: 4rem;
		margin-top: 0;
		margin-right: 5rem;
		@include respond-to(#{sm}){
			margin-right: 0;
		}
	}
	&__image-1{
		@include respond-to(#{md}){
			margin-right: 4rem;
		}
		@include respond-to(#{sm}){
			text-align: center;
			margin-right: 0;
		}
	}
	&__image-hd{
		@include respond-to(#{sm}){
			text-align: center;
		}
	}

	&__products{
		.swiper-wrapper{
			.swiper-slide{
				flex: 0 0 28%;
				@include respond-to(#{sm}){
					flex: none;
				}
				&:nth-child(2n){
					margin: 0 7rem;
					@include respond-to(#{sm}){
						margin: 0 3rem;
					}
				}
			}
		}
		// .swiper-slide-next{
		// 	margin: 0 7rem;
		// }
	}

	&__text-hd{
		font-size: 1.3rem;
		text-align: center;
		margin-top: 1rem;
	}
		
	&__product{
		text-align: center;
		&-title{
			font-size: 2.4rem;
			line-height: 1;
			margin-bottom: 1rem;
		}
		&-type{
			font-size: 1.4rem;
			margin-bottom: 1rem;
		}
		&-text{
			font-size: 1.4rem;
			margin-bottom: 2rem;
		}
		img{
			width: 100%;
		}
	}
}
