.sn-faq-sidebar{
	flex: 0 0 37%;
	margin-right: 7rem;
    @include respond-to(#{sm}){
		margin-right: 0;
    }
	h1{
		line-height: 1;
		margin-bottom: 5rem;
		font-size: 4.2rem;
	}

	&__category{
		position: relative;
		border-top: 2px solid $black;
		padding: 0 1rem;
		font-family: $gillsans;
		a{
			color: $black;
			text-decoration: none;
			display: block;
		}
		&::before{
			content: '+';
			font-weight: 600;
			font-size: 3.6rem;
			position: absolute;
			top: 0;
			right: 2rem;
		}
		&:last-of-type{
			border-bottom: 2px solid $black;
		}
		.sn-faq-sidebar{
			&__children{
				height: 0;
				pointer-events: none;
				transition: all .3s ease-in-out;
				a{
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		&--active{
			.sn-faq-sidebar{
				&__children{
					height: auto;
					pointer-events: all;
					a{
						opacity: 1;
						visibility: visible;
					}
				}
			}
			&::before{
				content: '-';
			}
		}
	}
		
	&__parent{
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 1;
		padding: 2rem 0;
		pointer-events: none;
		cursor: pointer;
	}

	&__children{
		a{
			margin-bottom: 1rem;
		}
		&:last-of-type{
			a{
				margin-bottom: 2rem;
			}
		}
	}
	
	
	&__anchor{  }
}
