#Contact{
	.sn-contact-pushes {
		div[data-icon]{
			color: $red-dark;
			i{
				&::before{
					font-weight: 600;
				}
			}
		}
	}
	.sn-text-image{
		&__title{
			font-size: 2.4rem;
		}
		&__content{
			a{
				position: relative;
				font-size: 1.2rem;
				text-decoration: none;
				text-transform: uppercase;
				color: $black;
				&::after{
					content: '';
					position: absolute;
					width: 100%;
					height: 1px;
					background: $black;
					left: 0;
					top: calc(100% + 2px);
				}
			}
			span{
				margin-bottom: 1rem;
    			display: inline-block;
				color: $red-dark;
			}
			i{
				&::before{
					font-size: 1.4rem;
					font-weight: 600;
					color: $red-dark;
				}
				&.icon-whatsapp{
					margin-right: 2.3rem;
				}
			}
		}
	}
	.icon-whatsapp{
		&:before{
			width: 1.6rem;
			height: 1.6rem;
			background: url('../assets/images/whatsapp-dark.svg') no-repeat;
		}
	}
}
.sn-faq-pushes{
	margin-top: 6rem;
	padding: 4rem 0;
	background: #F1EDE5;

	&__title{
		font-size: 2.4rem;
		text-align: center;
		margin-top: 0;
	}

	&__items{
		display: flex;
		flex-wrap: wrap;
    	justify-content: space-between;
		@include respond-to(#{sm}){
			display: block;
    		padding: 0 2rem;
		}
	}

	&__item{
		display: flex;
		flex: 0 0 30%;
		margin-bottom: 2rem;
		align-items: flex-start;
		i{
			color: $brown-dark;
			font-weight: 600;
			font-size: 1rem;
			margin-top: 3px;
		}
	}
		
	&__link{
		position: relative;
		color: $black;
		text-decoration: none;
		&::after{
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background: $black;
			left: 0;
			top: calc(100% + 2px);
			transition: all .3s ease-in-out;
			opacity: 0;
		}
		&:hover{
			&::after{
				opacity: 1;
			}
		}
	}
}
