.sn-hero{

	&__image{
		img{
			width: 100%;
		}
		@include respond-to(#{md}){
			overflow-x: hidden;
			min-height: 520px;
			img{
				position: absolute;
				right: 0;
				width: auto;
				max-width: initial;
			}
		}
	}
	&__title{  }
	&__text{  }

	&.sn-hero--column{
		.sn-hero{
			&__title{
				text-align: center;
				font-size: 4rem;
				@include respond-to(#{sm}){
					font-size: 3rem;
				}
			}
			&__text{
				text-align: center;
				font-size: 2.2rem;
				@include respond-to(#{sm}){
					font-size: 1.5rem;
				}
			}
		}
	}
	&--overlay{
		position: relative;
		.sn-hero{
			&__image{
				position: relative;
				&::before{
					content: '';
					position: absolute;
					height: calc(100% - 4px);
					width: 100%;
					top: 0;
					left: 0;
					background: linear-gradient(270deg, rgba(0,0,0,0.7847514005602241) 0%, rgba(255,255,255,0) 100%);
				}
			}
			&__content{
				color: $white;
				position: absolute;
				top: 50%;
				width: 340px;
				text-align: center;
				transform: translateY(-70%);
				right: 10rem;
				@include respond-to(#{md}){
					right: auto;
					left: 50%;
					transform: translate(-50%, -70%);
				}
			}
			&__title{
				font-size: 4rem;
				margin: 1rem 0;
			}
			&__text{
				font-size: 1.4rem;
			}
		}
	}
}
