#Les\ échantillons\ CARON{
	footer{
		margin-top: 8rem;
	}
}
.sn-samples-columns{
	display: flex;
	padding: 2.5rem 0 4rem;
	@include respond-to(#{sm}){
		display: block;
	}

		
	&__column{
		flex: 1;
		text-align: center;
		@include respond-to(#{sm}){
			margin: 0 0 4rem;
		}
		&:nth-child(2){
			margin: 0 7rem;
			@include respond-to(#{sm}){
				margin: 0 0 4rem;
			}
		}
	}
	&__image{
		img{
			width: 100%;
		}
	}
	&__icon{  }
	&__title{  }
	&__text{  }
	&__cta-label{  }
	&__cta-link{  }
}
