{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  <div class="container-fluid">
  {%- if section.settings.announcement_bar_enabled -%}
    <div>
        {%- if section.settings.announcement_bar_link != blank -%}
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
    </div>
  {%- endif -%}
<div class="sticky-header">
  <div class="menu__mobile" id="menu-mobile">
    <div>
      <div class="menu__mobile__header">
        <div class="contact">
          <ul>
            {% if section.settings.header_contact_phone %}
              <li class="icon-phone">{{ section.settings.header_contact_phone }}</li>
            {% endif %}
            {% if section.settings.header_contact_email %}
              <li class="icon-envelope">{{ section.settings.header_contact_email }}</li>
            {% endif %}
          </ul>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="127" height="39.775" viewBox="0 0 127 39.775">
          <path id="LOGO" d="M92.523,39.775a4.285,4.285,0,0,1-3.209-1.468,4.877,4.877,0,0,1-1.162-3.168,4.8,4.8,0,0,1,1.3-3.3,4.325,4.325,0,0,1,3.087-1.321,4.225,4.225,0,0,1,3.222,1.493,4.855,4.855,0,0,1-.159,6.449A4.28,4.28,0,0,1,92.523,39.775Zm0-8.019A2.824,2.824,0,0,0,90.24,33a3.742,3.742,0,0,0-.671,2.155,3.591,3.591,0,0,0,1.064,2.593,2.741,2.741,0,0,0,1.9.789,2.83,2.83,0,0,0,2.309-1.27A3.686,3.686,0,0,0,95.5,35.15a3.589,3.589,0,0,0-1.255-2.776,2.74,2.74,0,0,0-1.69-.619Zm12.586,7.9h-1.422V38.3h-4.2V36.916L99.5,36.9l4.2-6.215H105.1v6.359h.864v1.246h-.855v1.365Zm-1.422-6.523h0l-1.274,1.895-.739,1.1c-.307.458-.475.708-.513.759-.024.032-.043.059-.094.135l-.017.027,2.637,0V33.134ZM60.07,39.609A4.036,4.036,0,0,1,57.907,39c-.1-.071-.2-.144-.289-.214l-.006,0-.077-.059a4.243,4.243,0,0,1-.392-.384,3.09,3.09,0,0,1-.326-.445,2.929,2.929,0,0,1-.335-.816l-.016-.066h1.48l.045.087a2.207,2.207,0,0,0,.281.419,2.074,2.074,0,0,0,.265.268,2.777,2.777,0,0,0,.4.269,2.548,2.548,0,0,0,1.108.254h.048A2.558,2.558,0,0,0,61.2,38.06a2.383,2.383,0,0,0,.3-.2,1.27,1.27,0,0,0,.245-.269,1.219,1.219,0,0,0,.216-.673,1.039,1.039,0,0,0-.551-.913,2.2,2.2,0,0,0-.271-.128,3.6,3.6,0,0,0-.719-.177,9.992,9.992,0,0,1-2.078-.587,2.074,2.074,0,0,1-1.466-1.946,2.284,2.284,0,0,1,.641-1.571,3.126,3.126,0,0,1,.442-.385,3.676,3.676,0,0,1,.5-.286,3.335,3.335,0,0,1,.558-.2,4.319,4.319,0,0,1,1.066-.139H60.2a3.734,3.734,0,0,1,1.525.331,4.281,4.281,0,0,1,.48.267,3.123,3.123,0,0,1,.356.269,3.781,3.781,0,0,1,.4.424c.043.059.124.172.18.261a1.724,1.724,0,0,1,.222.617l.014.062H61.894l-.043-.09a1.372,1.372,0,0,0-.248-.293,2.027,2.027,0,0,0-1.468-.556,2.129,2.129,0,0,0-1.414.458,1.134,1.134,0,0,0-.387.813V33.2a.638.638,0,0,0,.306.565,1.772,1.772,0,0,0,.285.17,5.906,5.906,0,0,0,1.023.333c.3.078.7.163,1.21.259a3.654,3.654,0,0,1,1.249.524,3.17,3.17,0,0,1,.451.4A2.214,2.214,0,0,1,63.41,36.9a2.421,2.421,0,0,1-.535,1.517,2.743,2.743,0,0,1-.314.336,3.178,3.178,0,0,1-.533.372,3.645,3.645,0,0,1-.479.219A4.31,4.31,0,0,1,60.07,39.609Zm21.784-.1h-1.64l1.708-2.473-.04.005c-.2.017-.348.024-.472.024H81.3a4.372,4.372,0,0,1-1.772-.387,4.865,4.865,0,0,1-.581-.321,4.792,4.792,0,0,1-.4-.319,3.48,3.48,0,0,1-.778-1.024,2.916,2.916,0,0,1-.284-1.2V33.7a2.892,2.892,0,0,1,.462-1.511,4.046,4.046,0,0,1,.4-.512,2.882,2.882,0,0,1,.405-.37,4.138,4.138,0,0,1,1.187-.629,4.471,4.471,0,0,1,1.411-.222,4.342,4.342,0,0,1,2.255.617c.116.077.272.185.452.331a3.952,3.952,0,0,1,.432.431,3.12,3.12,0,0,1,.318.453,2.916,2.916,0,0,1,.406,1.464v.027a3.011,3.011,0,0,1-.639,1.8l-.047.068c-.719,1.036-2.417,3.484-2.662,3.833l-.014.024Zm-.5-7.806a2.658,2.658,0,0,0-1.664.553,2.472,2.472,0,0,0-.291.256,1.9,1.9,0,0,0-.5,1.251,1.844,1.844,0,0,0,.548,1.293,2,2,0,0,0,.328.287,2.852,2.852,0,0,0,3.2-.037,2.688,2.688,0,0,0,.318-.3,1.834,1.834,0,0,0,.507-1.243,1.886,1.886,0,0,0-.58-1.338,3.944,3.944,0,0,0-.348-.275A2.746,2.746,0,0,0,81.353,31.706Zm-7.637,7.8h-1.4V31.919H71.193V30.688h2.523V39.5Zm-42.33-.011h0l-1.566,0,4.062-8.795h1.294l.016.019c.071.085,3.416,7.371,4.021,8.7l.041.077-1.578,0-.014-.033c-.494-1.033-.805-1.7-.862-1.828H32.236l-.85,1.861Zm3.137-6.806-1.681,3.646H36.2Zm18.939,6.805H52.012v-8.8h1.449v8.8Zm-6.466,0h0l-.01-.009c-.039-.023-.679-1.013-1.9-2.942H43.342v2.95H41.9v-.052L41.9,30.691h3.335a3.788,3.788,0,0,1,2.689,1.043,2.616,2.616,0,0,1-.33,4.034,3.884,3.884,0,0,1-.875.5l-.105.041,2.1,3.17Zm-3.654-7.512v3.266h1.95a2.184,2.184,0,0,0,1.618-.693,1.451,1.451,0,0,0,.357-.9v-.079a1.5,1.5,0,0,0-.814-1.265,2.556,2.556,0,0,0-1.409-.332h-1.7ZM23.014,39.486H21.576v-.052l0-8.743H24.9a3.791,3.791,0,0,1,2.692,1.043,2.707,2.707,0,0,1,.8,1.879,2.762,2.762,0,0,1-1.267,2.259,3.986,3.986,0,0,1-2.245.664H23.014v2.949Zm0-7.511v3.266h1.949a2.171,2.171,0,0,0,1.618-.693,1.438,1.438,0,0,0,.357-.9v-.079a1.506,1.506,0,0,0-.81-1.265,2.579,2.579,0,0,0-1.414-.332h-1.7ZM12.4,24.249A12.456,12.456,0,0,1,3.631,20.7,12.075,12.075,0,0,1,.974,16.843a11.914,11.914,0,0,1,0-9.437A12.077,12.077,0,0,1,3.631,3.552,12.618,12.618,0,0,1,17.571,1.1a12.324,12.324,0,0,1,4.1,2.987l-3,3.085a8.184,8.184,0,0,0-11.984-.63,7.769,7.769,0,0,0,0,11.157,8.183,8.183,0,0,0,11.968-.612l2.991,3.094a12.357,12.357,0,0,1-4.1,2.967A12.512,12.512,0,0,1,12.4,24.249Zm77.344-.176h0V19.79a8.192,8.192,0,0,0,4.265-2.8,7.788,7.788,0,0,0,0-9.686,8.173,8.173,0,0,0-4.265-2.8V.213a12.48,12.48,0,0,1,7.3,4.1A12.006,12.006,0,0,1,99.191,7.9a11.918,11.918,0,0,1,0,8.485,12,12,0,0,1-2.154,3.587,12.472,12.472,0,0,1-7.3,4.1Zm-4.32,0h0a12.47,12.47,0,0,1-7.29-4.1,12.011,12.011,0,0,1-2.154-3.587,11.909,11.909,0,0,1,0-8.485,12.014,12.014,0,0,1,2.154-3.586,12.478,12.478,0,0,1,7.291-4.1V4.5a8.165,8.165,0,0,0-4.26,2.8,7.793,7.793,0,0,0,0,9.686,8.185,8.185,0,0,0,4.26,2.8v4.282ZM127,23.778h-3.731l-12.9-15.849V23.778h-4.338V.578h3.724l12.92,15.846V.578H127v23.2Zm-70.452,0H52.206V.578H62.439a9.7,9.7,0,0,1,3.3.546A7.778,7.778,0,0,1,68.346,2.67a6.873,6.873,0,0,1,1.706,2.4,7.639,7.639,0,0,1,.614,3.085,7.894,7.894,0,0,1-.337,2.363,6.767,6.767,0,0,1-.944,1.986,6.882,6.882,0,0,1-1.5,1.553,7.851,7.851,0,0,1-1.962,1.073l5.285,8.651h-4.99l-4.654-8.071H56.548v8.071Zm0-19.532V12.04h5.77a4.04,4.04,0,0,0,2.087-.563,3.84,3.84,0,0,0,1.916-3.308,3.909,3.909,0,0,0-1.838-3.312,4.172,4.172,0,0,0-2.219-.611ZM28.765,23.778H24.178L34.048.562h4.116l9.866,23.214h-4.6l-1.866-4.422H30.629l-1.865,4.422ZM36.089,6.16h0l-3.922,9.547h7.843L36.106,6.16Z" transform="translate(0 0)" fill="#a5967e"/>
        </svg>
        <div id="burger2" class="burger open">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="menu__mobile__nav">
        <ul>
          {% for link in linklists[section.settings.menu].links %}
            {% if link.links != blank %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
                <div class="submenu">
                  <p id="return1" class="returnTo">{{ link.title }}</p>
                  <ul>
                    {% for childlink in link.links %}
                      <li id="childLink">
                        {% if childlink.links != blank %}
                          <a href="{{ childlink.url }}" class="dropdown">
                            {{ childlink.title }}
                          </a>
                            <div class="second-submenu">
                              <p id="return2" class="returnTo">{{ childlink.title }}</p>
                              <ul>
                                {% for secondchildlink in childlink.links %}
                                  <li>
                                    <a href="{{ secondchildlink.url }}">
                                      {{ secondchildlink.title }}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                        {% else %}
                          <a href="{{ childlink.url }}">
                            {{ childlink.title }}
                          </a>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% else %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="menu__mobile__info">
      <div class="search">
        <form action="/search" method="get" role="search">
          <label for="Search-{{ section.id }}" class="label-hidden">
            {{ 'general.search.placeholder' | t }}
          </label>

          <input type="search"
            name="q"
            id="Search-{{ section.id }}"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.placeholder' | t }}">

          <button type="submit" class="button">
            <span class="icon-fallback-text icon-search">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
      </div>
      {% if form.available_locales %}
        <div class="language-switcher">
          <div class="language-switcher__label"><i class="icon-cheveron"></i>{{ 'layout.language_switcher_label' | t }}</div>
          {%- form 'localization', class: 'selectors-form' -%}
           {{ form.current_locale }}
            <ul>
              {% for locale in form.available_locales %}
                <li>{{ locale }}</li>
              {% endfor %}
            </ul>
            <input type="hidden" id="locale_code" name="locale_code" value="{{ form.current_locale.iso_code }}" />
          {%- endform -%}
        </div>
      {% endif %}
      <div class="links">
        <a href="#" class="lien"><i class="icon-envelope"></i>Nous contacter</a>
        <a href="#" class="lien"><i class="icon-envelope"></i>Boutique</a>
      </div>
    </div>
  </div>
  <header role="banner" id="header">
    <div id="burger1" class="burger">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div>
      {% if form.available_locales %}
        <div class="language-switcher">
          <div class="language-switcher__label"><i class="icon-cheveron"></i>{{ 'layout.language_switcher_label' | t }}</div>
          {%- form 'localization', class: 'selectors-form' -%}
           {{ form.current_locale }}
            <ul>
              {% for locale in form.available_locales %}
                <li>{{ locale }}</li>
              {% endfor %}
            </ul>
            <input type="hidden" id="locale_code" name="locale_code" value="{{ form.current_locale.iso_code }}" />
          {%- endform -%}
        </div>
      {% endif %}
      <div class="contact">
        {{ section.settings.header_contact_label }}
        <ul>
          {% if section.settings.header_contact_phone %}
             <li>
               <i class="icon-phone"></i>
               {{ section.settings.header_contact_phone }}</li>
          {% endif %}
          {% if section.settings.header_contact_email %}
            <li>
              <i class="icon-envelope"></i>{{ section.settings.header_contact_email }}</li>
          {% endif %}
          {% if section.settings.header_contact_store %}
            <li>{{ section.settings.header_contact_store }}</li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% if template.name == 'index' %}
      <h1>
    {% else %}
      <div class="h1">
    {% endif %}
        <a href="/" class="logo-image">
          <!-- {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ section.settings.logo.alt | default: shop.name }}">
          {% else %}
            {{ shop.name }}
          {% endif %} -->
          {% render 'caron' %}
        </a>
    {% if template.name != 'index' %}
      </div>
    {% else %}
      </h1>
    {% endif %}
    <div>

      <form action="/search" method="get" role="search">
        <label for="Search-{{ section.id }}" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>

        <input type="search"
          name="q"
          id="Search-{{ section.id }}"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.placeholder' | t }}">

        <button type="submit" class="button">
          <span class="icon-fallback-text icon-search">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>

      {% if shop.customer_accounts_enabled %}
        <div class="login">
          <i class="account icon-login"></i>
          <ul>
            {% if customer %}
              <li>
                {% if customer.first_name != blank %}
                  {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
              </li>
              <li>
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li>
            {% else %}
              <li>
                {{ 'layout.customer.log_in' | t | customer_login_link }}
              </li>
              <li>
                {{ 'layout.customer.create_account' | t | customer_register_link }}
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

      <div aria-controls="CartDrawer" aria-label="{{ 'cart.general.title' |  t }}" @click="drawerCart = true">
        <i class="icon-cart"></i>
        <span>{{ cart.item_count }}</span>
      </div>

    </div>
  </header>

  <nav role="navigation" id="nav">
    <ul>
      {% for link in linklists[section.settings.menu].links %}
        {% if link.links != blank %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
            <div class="submenu">
              <ul>
                {% for childlink in link.links %}
                  <li id="childLink">
                    {% if childlink.links != blank %}
                      <a href="{{ childlink.url }}" class="dropdown">
                        {{ childlink.title }}
                      </a>
                        <div class="second-submenu">
                          <ul>
                            {% for secondchildlink in childlink.links %}
                              <li>
                                <a href="{{ secondchildlink.url }}">
                                  {{ secondchildlink.title }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                    {% else %}
                      <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
</div>
  <div class="s-header__login c-drawer" :class="{'c-drawer--open': drawerLogin}">
    <div class="c-drawer__content">
      <div class="c-drawer__title font-accent">{{ 'customer.account.title' | t }}</div>
      <div class="c-drawer__close" @click="drawerLogin=false" aria-label="close"><span class="icon-close"><i class="icon-close"></i></span></div>
      <div class="c-drawer__element">
        {% render 'login' %}
      </div>
    </div>
  </div>

  <div class="c-drawer" :class="{'c-drawer--open': drawerCart}">
    <div class="c-drawer__content">
      <div class="c-drawer__close" @click="drawerCart=false" aria-label="close"><span class="icon-close"></span></div>
      <div class="c-drawer__element">
        {% render 'cart-snippet' %}
      </div>
    </div>
  </div>
</section>

{% if section.settings.logo != blank %}
  <!-- <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style> -->
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Nos équipes sont disponibles pour vous accompagner 7/7 de 8h à 20h - Personal Shopper sur whatsapp : 06 12 12 12 12"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
