<div class="s-hero-home">
    <div>
      <swiper>
      {% for item in section.blocks  %}
        <swiper-slide>

          <div class="s-hero-home__image">
            {% if item.image_large %}
              <picture>
                <source media="(max-width: 375px)" srcset="{{ item.image_small  }}">
                <img src="{{ item.image_large }}" />
              </picture>
            {% endif %}
            {% if item.type == "iframe" %}
              <iframe id="player" mozallowfullscreen allowfullscreen src="https://player.vimeo.com/video/{{item.url}}?autoplay=1&loop=1&autopause=0&muted=1&title=0&byline=0&portrait=0&wmode=opaque" width="1440" height="670" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen></iframe>
            {% endif %}
          </div>


      <div class="s-hero-home__txt">
        <h2 class="s-hero-home__title">{{ section.settings.title }}</h2>
        <p class="s-hero-home__text">{{ section.settings.text }}</p>
        <a class="s-hero-home__cta" href="{{ section.settings.cta_url }}" target="{{ item.target }}" rel="{% if item.target == '_blank' %}noreferrer noopener{% endif %}">{{ section.settings.cta_label }}</a>
      </div>
        </swiper-slide>
          {% endfor %}
      </swiper>
    </div>
</div>

{% schema %}
  {
    "name": "Hero Home",
    "presets": [
      {
        "name": "Hero Home",
        "category": "Hero"
      }
    ]
  }
{% endschema %}