<div class="s-images-legend">


	<div class="s-images-legend__column">

		<div class="s-images-legend__suptitle">{{ section.settings.suptitle }}</div>
		<h2 class="s-images-legend__title">{{ section.settings.title }}</h2>
		<a class="s-images-legend__cta plus" href="{{ section.settings.cta_url }}">
			<p>{{ section.settings.cta_label }}</p>
		</a>
		<div class="s-images-legend__image">
			{% if section.settings.image != blank %}
				<picture>
					<source media="(max-width: 375px)" srcset="{{ section.settings.image  }}">
					<source media="(max-width: 1023px)" srcset="{{ section.settings.image }}">
					<img src="{{ section.settings.image }}" />
				</picture>
			{% endif %}
		</div>
	</div>



	<div class="s-images-legend__column">

		<div class="s-images-legend__image">
			{% if section.settings.image != blank %}
				<picture>
					<source media="(max-width: 375px)" srcset="{{ section.settings.image  }}">
					<source media="(max-width: 1023px)" srcset="{{ section.settings.image }}">
					<img src="{{ section.settings.image }}" />
				</picture>
			{% endif %}
		</div>
		<p class="s-images-legend__text">{{ section.settings.text }}</p>
	</div>


</div>

{% schema %}
{
	"name": "Images legend",
	"presets": [
		{
			"name": "Images legend",
			"category": "Images"
		}
	]
}
{% endschema %}
