<div class="s-mosaic">
	<div class="container">

	<h2 class="s-mosaic__title">{{ section.settings.title }}</h2>

	<div class="s-mosaic__items">
		{% for item in section.blocks %}
		<div class="s-mosaic__item">

			<div class="s-mosaic__image">
				{% if item.image %}
					<picture>
						<source media="(max-width: 375px)" srcset="{{ item.image  }}">
						<source media="(max-width: 1023px)" srcset="{{ item.image }}">
						<img src="{{ item.image }}" />
					</picture>
				{% endif %}
			</div>
			<h2 class="s-mosaic__title">{{ item.title }}</h2>
			<p class="s-mosaic__text">{{ item.text }}</p>
			<a class="s-mosaic__cta plus" href="{{ item.cta_url }}">
				<!-- <i class="add"></i> -->
				<p>{{ item.cta_label }}</p>
			</a>
		</div>
	{% endfor %}
	</div>
</div>
</div>

{% schema %}
{
	"name": "Mosaic",
	"presets": [
		{
			"name": "Mosaic",
			"category": "Push"
		}
	]
}
{% endschema %}
