<section id="popin">
    <div class="overlay">
        <div class="popin-content">
            <span class="close">
                <i class="icon-close"></i>
            </span>
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Composant_311_3" data-name="Composant 311 – 3" width="51" height="50" viewBox="0 0 51 50">
                    <defs>
                        <clipPath id="clip-path">
                        <rect width="21" height="50" fill="none"/>
                        </clipPath>
                    </defs>
                    <g id="Composant_310_5" data-name="Composant 310 – 5">
                        <g id="Groupe_défilant_25" data-name="Groupe défilant 25" clip-path="url(#clip-path)" style="isolation: isolate">
                        <g id="Ellipse_23" data-name="Ellipse 23" fill="rgba(255,255,255,0)" stroke="#a5967e" stroke-width="9">
                            <circle cx="25" cy="25" r="25" stroke="none"/>
                            <circle cx="25" cy="25" r="20.5" fill="none"/>
                        </g>
                        </g>
                    </g>
                    <g id="Composant_309_8" data-name="Composant 309 – 8" transform="translate(30)">
                        <g id="Groupe_défilant_26" data-name="Groupe défilant 26" transform="translate(21 50) rotate(180)" clip-path="url(#clip-path)" style="isolation: isolate">
                        <g id="Ellipse_24" data-name="Ellipse 24" fill="rgba(255,255,255,0)" stroke="#a5967e" stroke-width="9">
                            <circle cx="25" cy="25" r="25" stroke="none"/>
                            <circle cx="25" cy="25" r="20.5" fill="none"/>
                        </g>
                        </g>
                    </g>
                </svg>
            </div>
            <h2>inscription à la newsletter</h2>
            <p>Soyez informés de l’actualité de la Maison et découvrez nos prochaines collections et exclusivités en ligne</p>
            <form action="#">
                <div class="form-input">
                    <input type="email" name="" id="mail" required>
                    <label for="mail">Email *</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="" id="popup">
                    <label for="popup">J'accepte de recevoir les newsletter de Caron.</label>
                </div>
                <button type="submit" class="gradient-btn">s'inscrire</button>
            </form>
        </div>
    </div>
</section>