<product data-section-id="{{ section.id }}" data-section-type="product" inline-template>

  <div class="s-product">

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
    <div class="s-product__image-content">
      <div class="container-fluid">
      <div class="s-product__images" ref="productImages">


        {% if product.images.size > 1 %}
          <swiper :options="productOptions" ref="swiperProduct">
            {% for image in product.images %}
              <swiper-slide>
                <a href="{{ image | img_url: '600x600' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                  {% comment %}<img class="product-single__thumbnail-image" src="{{ image | img_url: '160x160' }}" alt="{{ image.alt | escape }}">{% endcomment %}
                  <img class="product-single__thumbnail-image" src="{{ image }}" alt="alt">
                </a>
              </swiper-slide>
            {% endfor %}
            <div class="swiper-button-prev icon-angle-left" slot="button-prev"></div>
            <div class="swiper-button-next icon-angle-right" slot="button-next"></div>
          </swiper>

          <swiper :options="productOptionsThumbs" ref="swiperProductThumbs">
            {% for image in product.images %}
              <swiper-slide>

                  <img class="product-single__thumbnail-image" src="{{ image }}" alt="alt">
              </swiper-slide>
            {% endfor %}
            <div class="swiper-button-prev icon-angle-left" slot="button-prev"></div>
            <div class="swiper-button-next icon-angle-right" slot="button-next"></div>
          </swiper>
        {% endif %}

      </div>

      <div class="s-product__detail">
        <div>
          <div class="s-product__suptitle">
            <span>nouveau</span>
            Floral & fruitée
          </div>
          <h1>{{ product.title }}</h1>
          <div class="s-product__subtitle">Eau de parfum</div>
          <div class="rte">
            {{ product.description }}
          </div>
          <button class="btn-wishlist">
            <i class="wishlist">
              <svg xmlns="http://www.w3.org/2000/svg" width="19.376" height="17.001" viewBox="0 0 19.376 17.001">
                <path id="Fill_1" data-name="Fill 1" d="M9.687,17a.606.606,0,0,1-.429-.214c-.5-.507-1-1.025-1.483-1.526l-.693-.714L5.614,13.033l-.043-.044c-1.24-1.278-2.522-2.6-3.791-3.9a5.9,5.9,0,0,1-1.5-2.274A5.1,5.1,0,0,1,.917,2.21,4.781,4.781,0,0,1,4.983,0h.111A4.787,4.787,0,0,1,8.638,1.533c.227.234.455.467.677.695l.34.348c.152-.143.3-.286.445-.424.323-.31.629-.6.952-.889A4.817,4.817,0,0,1,14.326.012l.172,0a4.736,4.736,0,0,1,3.348,1.44,5.058,5.058,0,0,1,1.469,4.456A5.3,5.3,0,0,1,17.764,8.94c-1.565,1.6-3.15,3.229-4.684,4.805l-2.33,2.393c-.184.189-.381.39-.64.653A.6.6,0,0,1,9.687,17ZM5.048.984A3.918,3.918,0,0,0,2.434,2a4.178,4.178,0,0,0-1.4,2.991A4.258,4.258,0,0,0,2.258,8.128q3.631,3.733,7.259,7.466a1.042,1.042,0,0,1,.1.125c.017.024.035.05.056.076l.214-.221.009-.01,1.968-2.025c1.721-1.771,3.5-3.6,5.251-5.392a4.323,4.323,0,0,0,1.234-2.709A4.259,4.259,0,0,0,17.5,2.592a3.9,3.9,0,0,0-5.844-.516c-.356.334-.7.693-1.032,1.039-.151.158-.306.319-.459.476a.682.682,0,0,1-.469.252.668.668,0,0,1-.46-.245c-.173-.175-.345-.354-.512-.526-.331-.343-.673-.7-1.026-1.03A3.86,3.86,0,0,0,5.048.984Z" fill="#a5967e"/>
              </svg>
            </i>
          </button>
        </div>

        <div>
          {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="js">

                  {% if forloop.index0 == 0 %}
                    {% for value in option.values %}
                      <div class="s-product__type">
                        <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %} checked>
                        <label for="Option{{ option.position }}-{{ value }}" ><img src="http://via.placeholder.com/60x60" alt=""></label>
                        <label for="">{{ value }}</label>
                      </div>
                    {% endfor %}

                  {% else %}
                    <!-- <label for="Option{{ option.position }}">
                      {{ option.name }}
                    </label> -->

                    <select
                        id="Option{{ option.position }}"
                        name="options[{{ option.name | escape }}]">
                      {% for value in option.values %}
                        <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                        </option>
                      {% endfor %}
                    </select>
                    {%- assign current_variant = product.selected_or_first_available_variant -%}
                    <input type="hidden" id="Quantity" name="quantity" value="1" min="1">

                    <div data-price-wrapper>
                    <span data-product-price>
                      {{ current_variant.price | money }}
                    </span>

                      {% if product.compare_at_price_max > product.price %}
                        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                        <s data-compare-price>
                          {% if current_variant.compare_at_price > current_variant.price %}
                            {{ current_variant.compare_at_price | money }}
                          {% endif %}
                        </s>
                      {% endif %}
                    </div>

                  {% endif %}
                </div>
              {% endfor %}
            {% endunless %}
            {%- assign current_variant = product.selected_or_first_available_variant -%}
            <noscript>
              <select name="id">
                {% for variant in product.variants %}
                  <option
                      {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                      value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% endfor %}
              </select>
            </noscript>


            <button ref="productAction"
                    class="gradient-btn"
                    type="submit"
                    name="add"
                    data-submit-button
                    {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-submit-button-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
            </button>

            <button class="custom-btn"> {{ 'products.product.customize' | t }} </button>
          {% endform %}

          <div class="s-product__reassurances">
            {{ product_infos.text }}

            <ul>
              {% for item in product_infos.reassurances %}
                <li class="icon-{{ item.icon }}">{{ item.text }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>



      </div>
    </div>
    </div>

    <div class="s-product__features">
      <div class="container">
        <ul>
      {% for item in product.product_infos.features %}
        <li data-icon="icon__{{ item.icon }}">
          <span element="icon" data-icon="icon__{{ item.icon }}"></span>
          {{ item.text }}
        </li>
      {% endfor %}
    </ul>
    </div>
    </div>

    <div class="s-product__details">
      <div class="container">
        <div class="tabs-wrapper">
      <div>
        {% if  product.product_infos.details.image != blank %}
          <img src="{{  product.product_infos.details.image }}" />
        {% endif %}
      </div>
      <tabs>
        {% for tab in product.product_infos.details.items %}
        <tab name="{{ tab.title }}" {% if forloop.first %}:selected="true"{% endif %}>
          <p>{{ tab.text }}</p>
          {% if tab.cta_label != blank and tab.cta_link != blank %}
            <a class="default_cta" href="{{ tab.cta_link }}">{{ tab.cta_label }}</a>
          {% endif %}
        </tab>
        {% endfor %}
      </tabs>
    </div>
    </div>
    </div>

    <transition name="slideDown">
      <div class="s-product__bar font-main" v-if="sticky_top" :style="{top: fromTop + 'px'}">
        <div class="s-product__bar-content">
          <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
          <h1>{{ product.title }}</h1>
          <form action="/cart/add"  class="s-product__bar-action" method="post" enctype="multipart/form-data" id="AddToCartForm">
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="hidden">
            {{ current_variant.price | money }}
            <button class="button s-product__bar-button" type="submit" name="add" id="AddToCart">Add to cart</button>
          </form>
        </div>
      </div>
    </transition>
  </div>
</product>

{% schema %}
{
"name": "Product pages",
"settings": [
{
"type": "checkbox",
"id": "show_share_buttons",
"label": "Show social sharing buttons",
"default": true
}
]
}
{% endschema %}
