<div class="s-push-square s-push-square--{{ section.settings.layout }}">
	<div class="container">

	<div class="s-push-square__suptitle">{{ section.settings.suptitle }}</div>
	<h2 class="s-push-square__title">{{ section.settings.title }}</h2>

	<div class="s-push-square__items">


		{% for item in section.blocks %}
			<div class="s-push-square__item">

			<div class="s-push-square__image">
				{% if item.image != blank %}
					<picture>
						<source media="(max-width: 375px)" srcset="{{ item.image  }}">
						<source media="(max-width: 1023px)" srcset="{{ item.image }}">
						<img src="{{ item.image }}" />
					</picture>
				{% endif %}
			</div>
			<h2 class="s-push-square__title">{{ item.title }}</h2>
			<p class="s-push-square__text">{{ item.text }}</p>
			<a class="s-push-square__cta plus" href="{{ item.cta_url }}">
				<p>{{ item.cta_link }}</p>
			</a>
		</div>
		{% endfor %}

	</div>

</div>
</div>
