<div class="s-push-rounded">
	<div class="container">

	{% if section.settings.suptitle != blank  %}
		<div class="s-push-rounded__suptitle">{{ section.settings.suptitle }}</div>
	{% endif %}

	{% if section.settings.title != blank  %}
		<h2 class="s-push-rounded__title">{{ section.settings.title }}</h2>
	{% endif %}

	<swiper :options="pushProducts">
		{% for item in section.blocks %}
			<swiper-slide>
				<div class="s-push-rounded__item">

					<div class="s-push-rounded__image">
						{% if item.image != blank %}
							<picture>
								<source media="(max-width: 375px)" srcset="{{ item.image  }}">
								<source media="(max-width: 1023px)" srcset="{{ item.image }}">
								<img src="{{ item.image }}" />
							</picture>
						{% endif %}
					</div>
					<h2 class="s-push-rounded__title">{{ item.title }}</h2>
					<p class="s-push-rounded__text">{{ item.text }}</p>
					<a class="s-push-rounded__link" href="{{ item.link }}">{{ item.linkText }}</a>

					{% if item.link != blank %}
						<div class="s-push-rounded__label">{{ item.label }}</div>
					{% endif %}
				</div>
			</swiper-slide>
		{% endfor %}
		<div class="swiper-button-prev sn-push-products__prev" slot="button-prev"></div>
		<div class="swiper-button-next sn-push-products__next" slot="button-next"></div>
	</swiper>

</div>
</div>

{% schema %}
{
	"name": "Push rounded",
	"presets": [
		{
			"name": "Push rounded",
			"category": "Push"
		}
	]
}
{% endschema %}
