<div class="s-push-samples">
	<div class="container">
		<div class="s-push-samples__wrapper">
	<div class="s-push-samples__content">

		<h2 class="s-push-samples__title">{{ section.settings.title }}</h2>

		<p class="s-push-samples__text">{{ section.settings.text }}</p>

		<!-- <div class="s-push-samples__image">
			{% if section.settings.image != blank %}
				{% include 'responsive-image', image: section.settings.image, max_width: 410, max_height: 80 %}
			{% else %}
				{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
			{% endif %}
		</div> -->
		<div class="s-push-samples__steps">
			{% assign i = 0 %}
			{% for item in section.settings.steps %}
				{% assign i = i | plus:1 %}
				<div class="s-push-samples__step">
					<div class="s-push-samples__step__icon icon__{{ i }}"></div>
					<span class="s-push-samples__step__text">{{ item.text }}</span>
				</div>
			{% endfor %}
		</div>
		<a class="s-push-samples__cta gradient-btn" href="{{ section.settings.cta_url }}">{{ section.settings.cta_label }}</a>
	</div>

	<div class="s-push-samples__image">
		{% if section.settings.large_image != blank %}
				<picture>
					<source media="(max-width: 375px)" srcset="{{ section.settings.large_image  }}">
					<source media="(max-width: 1023px)" srcset="{{ section.settings.large_image }}">
					<img src="{{ section.settings.large_image }}" />
				</picture>
		{% endif %}
	</div>
</div>
</div>
</div>
