<div class="s-reassurances">

	{% for item in section.blocks %}
		<div element="item">
			<span element="icon" data-icon="{{ item.icon }}"></span>
			<p element="text">{{ item.text }}</p>
		</div>
	{% endfor %}

</div>

{% schema %}
{
	"name": "Reassurances"
}
{% endschema %}
