{% render 'text-image', section: section %}

{% schema %}
{
	"name": "Text Image",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "subtitle",
			"label": "Subtitle"
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Text"
		},
		{
			"type": "header",
			"content": "CTA 1"
		},
		{
			"type": "url",
			"id": "cta1_link",
			"label": "Link"
		},
		{
			"type": "text",
			"id": "cta1_label",
			"label": "Label",
			"default": "En savoir plus"
		},
		{
			"type": "header",
			"content": "CTA 2"
		},
		{
			"type": "url",
			"id": "cta2_link",
			"label": "Link"
		},
		{
			"type": "text",
			"id": "cta2_label",
			"label": "Label",
			"default": "En savoir plus"
		},
		{
			"type": "header",
			"content": "Settings"
		},
		{
			"type": "checkbox",
			"id": "background",
			"label": "Display a background color",
			"default": false
		},
		{
			"type": "radio",
			"id": "mod",
			"default": "image-left",
			"options": [
				{ "value": "image-left", "label": "Image on the left"},
				{ "value": "image-right", "label": "Image on the right"}
			],
			"label": "Logo alignment"
		},
		{
			"type": "select",
			"id": "font",
			"label": "Font",
			"default": "accent",
			"options": [
				{
					"value": "accent",
					"label": "HelveticaNeue"
				},
				{
					"value": "main",
					"label": "Nunito"
				}
			]
		}
	],
	"presets": [
		{
			"category": "Components",
			"name": "Text image"
		}
	]
}
{% endschema %}
